.alwatr-top-app-bar {
  flex-grow: 0;
  flex-shrink: 0;
  padding: var(--sys-spacing-track) calc(0.5 * var(--sys-spacing-track));
  z-index: var(--sys-zindex-sticky);
  border-radius: 0;
  user-select: none;

  .alwatr-row {
    display: flex;
  }

  .leading-icon {
    --comp-icon-button-color-hsl: var(--sys-color-on-surface-hsl);
  }

  .trailing-icons {
    --comp-icon-button-color-hsl: var(--sys-color-on-surface-variant-hsl);
  }

  .title {
    flex-grow: 1;
  }

  &[type=small] .title,
  &[type=center] .title {
    padding: 0 calc(0.5 * var(--sys-spacing-track));
    font-family: var(--sys-typescale-title-large-font-family-name);
    font-weight: var(--sys-typescale-title-large-font-weight);
    font-size: var(--sys-typescale-title-large-font-size);
    letter-spacing: var(--sys-typescale-title-large-letter-spacing);
    /* line-height: var(--sys-typescale-title-large-line-height); */
    line-height: calc(6 * var(--sys-spacing-track));
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow: clip;
  }

  &[dir=rtl][type=small] .title,
  &[dir=rtl][type=center] .title {
    line-height: calc(6 * var(--sys-spacing-track) - 0.18em); /* 0.5 * track / title-line-height */
  }

  &[type=center] .title {
    text-align: center;
  }

  .headline { /* medium | large */
    display: none;
  }

  &[type=medium] {
    padding-bottom: calc(3 * var(--sys-spacing-track));
  }
  &[type=large] {
    padding-bottom: calc(3.5 * var(--sys-spacing-track));
  }

  &[type=medium] .headline,
  &[type=large] .headline {
    display: block;
    padding: 0 calc(1.5 * var(--sys-spacing-track));
  }

  &[type=medium] .headline {
    font-family: var(--sys-typescale-headline-small-font-family-name);
    font-weight: var(--sys-typescale-headline-small-font-weight);
    font-size: var(--sys-typescale-headline-small-font-size);
    letter-spacing: var(--sys-typescale-headline-small-letter-spacing);
    line-height: var(--sys-typescale-headline-small-line-height);
  }

  &[type=large] .headline {
    margin-top: calc(4 * var(--sys-spacing-track));
    font-family: var(--sys-typescale-headline-medium-font-family-name);
    font-weight: var(--sys-typescale-headline-medium-font-weight);
    font-size: var(--sys-typescale-headline-medium-font-size);
    letter-spacing: var(--sys-typescale-headline-medium-letter-spacing);
    line-height: var(--sys-typescale-headline-medium-line-height);
  }
}
