# Secret region
# Deny secret locations

location ^~ /$nitrobaseRegionSecret/ {
  # secret location denied
  set $debugInfo 54;
  return 404;
}

# Note: The ^~ modifier in Nginx is used to match location blocks against the longest non-regular expression prefix of a requested URI. This means that if a location block with the ^~ modifier is matched, no other location blocks will be considered, even if they have regular expression matches. This prevents the regular expression location blocks from taking precedence over the longer prefix matches.
