* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:root {
  --ion-color-primary: #673ab7;
  --ion-color-primary-rgb: 103, 58, 183;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5b33a1;
  --ion-color-primary-tint: #764ebe;

  --ion-color-secondary: #f4511e;
  --ion-color-secondary-rgb: 244, 81, 30;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d7471a;
  --ion-color-secondary-tint: #f56235;

  --ion-color-tertiary: #ec407a;
  --ion-color-tertiary-rgb: 236, 64, 122;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d0386b;
  --ion-color-tertiary-tint: #ee5387;

  --ion-color-success: #388e3c;
  --ion-color-success-rgb: 56, 142, 60;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #317d35;
  --ion-color-success-tint: #4c9950;

  --ion-color-warning: #ffb300;
  --ion-color-warning-rgb: 255, 179, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09e00;
  --ion-color-warning-tint: #ffbb1a;

  --ion-color-danger: #e53935;
  --ion-color-danger-rgb: 229, 57, 53;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ca322f;
  --ion-color-danger-tint: #e84d49;

  --ion-color-medium: #616161;
  --ion-color-medium-rgb: 97, 97, 97;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #555555;
  --ion-color-medium-tint: #717171;

  --ion-color-light: #fafafa;
  --ion-color-light-rgb: 250, 250, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dcdcdc;
  --ion-color-light-tint: #fbfbfb;

  --ion-background-color: #efefef;
  --ion-background-color-rgb: 238, 238, 238;

  --ion-text-color: #01010e;
  --ion-text-color-rgb: 1, 1, 14;

  --ion-color-step-50: #e2e2e3;
  --ion-color-step-100: #d6d6d8;
  --ion-color-step-150: #cacacc;
  --ion-color-step-200: #bfbfc1;
  --ion-color-step-250: #b3b3b6;
  --ion-color-step-300: #a7a7ab;
  --ion-color-step-350: #9b9ba0;
  --ion-color-step-400: #8f8f94;
  --ion-color-step-450: #838389;
  --ion-color-step-500: #78787e;
  --ion-color-step-550: #6c6c73;
  --ion-color-step-600: #606068;
  --ion-color-step-650: #54545c;
  --ion-color-step-700: #484851;
  --ion-color-step-750: #3c3c46;
  --ion-color-step-800: #30303b;
  --ion-color-step-850: #252530;
  --ion-color-step-900: #191924;
  --ion-color-step-950: #0d0d19;

  --ion-card-background: var(--ion-color-primary-contrast);
  --ion-card-background-rgb: var(--ion-color-primary-contrast-rgb);
}

.noscript {
  text-align: center;
  font-size: 2rem;
  padding: 2em 1em;
}

.noscript p {
  margin: 0.5em 0;
}

body.backdrop-no-scroll {
  overflow: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  transform: translateZ(0);
  text-rendering: optimizeLegibility;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  overscroll-behavior-y: none;
  text-size-adjust: none;
  background-color: var(--ion-background-color, #1111);
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  text-size-adjust: 100%;
  font-family: var(--ion-font-family);
}

html.ion-ce body {
  display: block;
}

html.plt-pwa {
  height: 100vh;
}

html.plt-ios.plt-hybrid,
html.plt-ios.plt-pwa {
  --ion-statusbar-padding: 20px;
}

.ion-page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}

@supports (padding-top: 20px) {
  html {
    --ion-safe-area-top: var(--ion-statusbar-padding);
  }
}

@supports (padding-top: constant(safe-area-inset-top)) {
  html {
    --ion-safe-area-top: constant(safe-area-inset-top);
    --ion-safe-area-bottom: constant(safe-area-inset-bottom);
    --ion-safe-area-left: constant(safe-area-inset-left);
    --ion-safe-area-right: constant(safe-area-inset-right);
  }
}

@supports (padding-top: env(safe-area-inset-top)) {
  html {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
  }
}

ion-alert * {
  font-family: var(--ion-font-family) !important;
}
