# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    versioning-strategy: increase
    reviewers:
      - "AliMD"
      - "njfamirm"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/"
    versioning-strategy: increase
    reviewers:
      - "AliMD"
      - "njfamirm"
    schedule:
      interval: "daily"
