[user]
  # name = Ali Mihandoost
  # email = ali.mihandoost@gmail.com

[alias]
  c = commit -m
  ca = commit -am
  cl = clone
  cl1 = clone --depth=1
  pl = pull --prune --progress --autostash --rebase=true
  plm = pull --prune --progress --autostash --rebase=false
  p = push
  pp = push --prune
  pa = push --all
  pt = push --tags
  b = branch
  ba = branch -avv
  bd = push origin --delete
  s = status -s
  st = stash -u
  sp = stash pop
  m = merge
  r = rebase
  rc = rebase --continue
  ra = rebase --abort
  rs = rebase --skip
  co = checkout
  sw = switch
  f = fetch
  chp = cherry-pick
  d = diff --color --color-words --abbrev
  rn = !"git pl && git rebase origin/${1:-next} && git push -f #"
  feat = !"git fetch && git switch -c feat/$1 origin/next && git push -u #"
  sep = !"git fetch && git switch -c feat/$1 origin/v2 && shift && git cherry-pick $@ && git push -u && gh pr create --assignee @me --base v2 --fill --web #"
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  # Show the diff between the latest commit and the current state
  df = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  ru = rebase-update # depot_tools specific
  t = tag -ln3

  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[help]
  autocorrect = 1

[push]
  default = current

[pull]
  rebase = false

# so much color
[color]
  ui = always

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[http]
  sslVerify = false

# [credential]
#   helper = manager

[core]
  autocrlf = input

[init]
  defaultBranch = main

[commit]
	gpgsign = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
