{{ define "main" }}

<body
  class="page style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-transparent header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
  <div id="Wrapper">
    {{ partial "header" }}

    <div id="Content">
      <div class="section" style="
          padding-top: 200px;
          background-image: url(images/reno4-about-workers.png);
          background-repeat: no-repeat;
          background-position: center top;
        ">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="column_attr clearfix" style="padding: 0px 0% 175px">
                <h1>
                  Offer
                  <br />
                  & pricing
                </h1>
                <hr class="no_line" style="margin: 0 auto 20px auto" />
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua maecenas accumsan lacus vel facilisis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" style="padding-bottom: 35px">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="image_frame image_item no_link scale-with-grid no_border">
                <div class="image_wrapper">
                  <img class="scale-with-grid" src="images/reno4-home-icon1.png" alt="reno4-home-icon1" title=""
                    width="470" height="780" />
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding: 10% 30px">
              <div class="row">
                <div class="col-12">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <h2>Construction</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      seagna aliqua maecenas accum lacus vel facilisis.
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <i class="icon-check" style="color: #ffd800"></i> Lorem
                    ipsum <br />
                    <i class="icon-check" style="color: #ffd800"></i> Dolor
                    sit amet <br />
                    <i class="icon-check" style="color: #ffd800"></i>
                    Consecteur
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <i class="icon-check" style="color: #ffd800"></i> Lempor
                    di omnia <br />
                    <i class="icon-check" style="color: #ffd800"></i> Aboret
                    des mane
                  </div>
                </div>
                <div class="col-12">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <h4>
                      Prices from
                      <span style="border-bottom: 2px solid #ffd800">$30/m<sup>2</sup></span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" style="padding-top: 70px; padding-bottom: 65px">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4" style="padding: 0 1%">
              <div class="column_attr clearfix align_center" style="padding: 50px 10% 91px; border: 1px solid #e5e5e5">
                <div class="image_frame image_item no_link scale-with-grid no_border">
                  <div class="image_wrapper">
                    <img class="scale-with-grid" src="images/reno4-offer-icon1.png" alt="reno4-offer-icon1" title=""
                      width="220" height="220" />
                  </div>
                </div>
                <hr class="no_line" style="margin: 0 auto 50px auto" />
                <h2>Full project</h2>
                <span style="
                    color: #ffd800;
                    text-decoration: underline;
                    font-size: 54px;
                    line-height: 64px;
                    font-weight: 700;
                    font-family: 'Comfortaa';
                  ">$1200</span>
                <hr class="no_line" style="margin: 0 auto 30px auto" />
                <p>Lorem ipsum dolor sit</p>
                <hr style="margin: 0 auto 10px" />
                <p>consectetur adipisic</p>
                <hr style="margin: 0 auto 10px" />
                <p>suscipit mauris</p>
                <hr style="margin: 0 auto 10px" />
                <p>quis erat id tortor</p>
                <hr class="no_line" style="margin: 0 auto 20px auto" />
                <a class="button button_size_2" href="contact.html"
                  style="background-color: #ffd800 !important; color: #10293d"><span class="button_label">View more
                    details</span></a>
              </div>
            </div>
            <div class="col-md-4 mb-4" style="padding: 0 1%">
              <div class="column_attr clearfix align_center" style="padding: 50px 10%; border: 1px solid #e5e5e5">
                <div class="image_frame image_item no_link scale-with-grid no_border">
                  <div class="image_wrapper">
                    <img class="scale-with-grid" src="images/reno4-offer-icon2.png" alt="reno4-offer-icon2" title=""
                      width="220" height="220" />
                  </div>
                </div>
                <hr class="no_line" style="margin: 0 auto 50px auto" />
                <h2>Installation</h2>
                <span style="
                    color: #ffd800;
                    text-decoration: underline;
                    font-size: 54px;
                    line-height: 64px;
                    font-weight: 700;
                    font-family: 'Comfortaa';
                  ">$2900</span>
                <hr class="no_line" style="margin: 0 auto 30px auto" />
                <p>
                  Praesent nec magna ac pede. Mauris suscipit mauris. Nam quis
                  erat id tortor asellus.
                </p>
                <p>consectetur adipisic</p>
                <hr style="margin: 0 auto 10px" />
                <p>suscipit mauris</p>
                <hr style="margin: 0 auto 10px" />
                <p>quis erat id tortor</p>
                <hr class="no_line" style="margin: 0 auto 20px auto" />
                <a class="button button_size_2" href="contact.html"
                  style="background-color: #ffd800 !important; color: #10293d"><span class="button_label">View more
                    details</span></a>
              </div>
            </div>
            <div class="col-md-4 mb-4" style="padding: 0 1%">
              <div class="column_attr clearfix align_center" style="padding: 50px 10% 76px; border: 1px solid #e5e5e5">
                <div class="image_frame image_item no_link scale-with-grid no_border">
                  <div class="image_wrapper">
                    <img class="scale-with-grid" src="images/reno4-offer-icon3.png" alt="reno4-offer-icon3" title=""
                      width="220" height="220" />
                  </div>
                </div>
                <hr class="no_line" style="margin: 0 auto 50px auto" />
                <h2>Furniture</h2>
                <span style="
                    color: #ffd800;
                    text-decoration: underline;
                    font-size: 54px;
                    line-height: 64px;
                    font-weight: 700;
                    font-family: 'Comfortaa';
                  ">$3400</span>
                <hr class="no_line" style="margin: 0 auto 30px auto" />
                <p>
                  Mauris suscipit mauris. <strong>Nam quis erat</strong> id
                  tortor asellus.
                </p>
                <p>Lorem ipsum dolor sit</p>
                <hr style="margin: 0 auto 10px" />
                <p>consectetur adipisic</p>
                <hr style="margin: 0 auto 10px" />
                <p>quis erat id tortor</p>
                <hr class="no_line" style="margin: 0 auto 20px auto" />
                <a class="button button_size_2" href="contact.html"
                  style="background-color: #ffd800 !important; color: #10293d"><span class="button_label">View more
                    details</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" style="padding-top: 65px; padding-bottom: 68px">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="image_frame image_item no_link scale-with-grid no_border">
                <div class="image_wrapper">
                  <img class="scale-with-grid" src="images/reno4-offer-painting.png" alt="reno4-offer-painting" title=""
                    width="470" height="780" />
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding: 10% 30px">
              <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                <h2>Finishing</h2>
                <p>
                  <strong>Sed ut perspiciatis unde</strong> omnis iste natus
                  error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore
                  veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                  <br />
                  <br />
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore.
                </p>
                <hr class="no_line" style="margin: 0 auto 40px auto" />
                <h4>
                  Prices from
                  <span style="border-bottom: 2px solid #ffd800">$45/m<sup>2</sup></span>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" style="padding-top: 60px; padding-bottom: 100px">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="image_frame image_item no_link scale-with-grid no_border">
                <div class="image_wrapper">
                  <img class="scale-with-grid" src="images/reno4-home-icon3.png" alt="reno4-home-icon3" title=""
                    width="470" height="780" />
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding: 10% 30px">
              <div class="row">
                <div class="col-12">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <h2>Plumbing</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      seagna aliqua maecenas accum lacus vel facilisis.
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <i class="icon-check" style="color: #ffd800"></i> Lorem
                    ipsum <br />
                    <i class="icon-check" style="color: #ffd800"></i> Dolor
                    sit amet <br />
                    <i class="icon-check" style="color: #ffd800"></i>
                    Consecteur
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <i class="icon-check" style="color: #ffd800"></i> Lempor
                    di omnia <br />
                    <i class="icon-check" style="color: #ffd800"></i> Aboret
                    des mane
                  </div>
                </div>
                <div class="col-12">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <h4>
                      Prices from
                      <span style="border-bottom: 2px solid #ffd800">$20/point</span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" style="padding-bottom: 35px">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="image_frame image_item no_link scale-with-grid no_border">
                <div class="image_wrapper">
                  <img class="scale-with-grid" src="images/reno4-home-icon2.png" alt="reno4-home-icon2" title=""
                    width="470" height="780" />
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding: 10% 30px">
              <div class="row">
                <div class="col-12">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <h2>Electrics</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      seagna aliqua maecenas accum lacus vel facilisis.
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <i class="icon-check" style="color: #ffd800"></i> Lorem
                    ipsum <br />
                    <i class="icon-check" style="color: #ffd800"></i> Dolor
                    sit amet <br />
                    <i class="icon-check" style="color: #ffd800"></i>
                    Consecteur
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <i class="icon-check" style="color: #ffd800"></i> Lorem
                    ipsum <br />
                    <i class="icon-check" style="color: #ffd800"></i> Dolor
                    sit amet <br />
                  </div>
                </div>
                <div class="col-12">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 20px 0% 0px 2%">
                    <h4>
                      Prices from
                      <span style="border-bottom: 2px solid #ffd800">$15/point</span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section" style="padding-top: 50px; padding-bottom: 90px">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-8">
                  <h1>
                    Call us if you have
                    <br />
                    a question
                  </h1>
                </div>
              </div>
            </div>
            <div class="col-12">
              <hr class="no_line" style="margin: 0 auto 30px" />
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-2">
                  <div class="column_attr clearfix align_center mobile_align_center">
                    <h2><i class="icon-phone" style="color: #626262"></i></h2>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 7px 2% 20px">
                    <h4 style="margin: 0">+95 454 959</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-2">
                  <div class="column_attr clearfix align_center mobile_align_center">
                    <h2>
                      <i class="icon-paper-plane-line" style="color: #626262"></i>
                    </h2>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="column_attr clearfix mobile_align_center" style="padding: 3px 2%">
                    <h4 style="margin: 0">
                      <a href="#">noreply@envato.com</a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "footer" }}
  </div>
  {{ partial "side-slide" }}
  <div id="body_overlay"></div>
  ${{ partial "base-script" }}
</body>
{{ end }}
