/* Sahel Variable (Without-Latin) */
@font-face {
  font-family: 'sahel-vf';
  font-weight: 300 900;
  src: url('sahel/sahel[wght].woff2') format('woff2 supports variations'),
    url('sahel/sahel[wght].woff2') format('woff2-variations');
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

/* Sahel (Without-Latin, None VF Fallback) */
@font-face {
  font-family: 'sahel';
  font-weight: 300;
  src: url('sahel/sahel-300.woff') format('woff');
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: 'sahel';
  font-weight: 400;
  src: url('sahel/sahel-400.woff') format('woff');
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: 'sahel';
  font-weight: 600;
  src: url('sahel/sahel-600.woff') format('woff');
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: 'sahel';
  font-weight: 700;
  src: url('sahel/sahel-700.woff') format('woff');
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
@font-face {
  font-family: 'sahel';
  font-weight: 900;
  src: url('sahel/sahel-900.woff') format('woff');
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

/* Global page typography */
:root {
  --ref-font-family-sahel: 'sahel-vf', 'sahel';
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-feature-settings: 'calt' 1, 'tnum' 0;
  font-family:  'sahel-vf',
                'sahel',
                system-ui,
                -apple-system,
                BlinkMacSystemFont,
                'Segoe UI',
                'Roboto',
                'Oxygen',
                'Ubuntu',
                'Cantarell',
                'Open Sans',
                'Helvetica Neue',
                'Arial',
                sans-serif,
                'Apple Color Emoji',
                'Segoe UI Emoji',
                'Segoe UI Symbol';
}
