body {
  padding: calc(2 * var(--sys-spacing-track));
}

.container {
  display: flex;
  gap: calc(2 * var(--sys-spacing-track));
  height: 100%;
  overflow-y: auto;
}

.row {
  flex-grow: 1;
}

.box {
  height: calc(6 * var(--sys-spacing-track));
}

.row:nth-child(1) .box:nth-child(1) {
  background-color: hsl(var(--ref-palette-primary0));
}
.row:nth-child(1) .box:nth-child(2) {
  background-color: hsl(var(--ref-palette-primary10));
}
.row:nth-child(1) .box:nth-child(3) {
  background-color: hsl(var(--ref-palette-primary20));
}
.row:nth-child(1) .box:nth-child(4) {
  background-color: hsl(var(--ref-palette-primary25));
  display: none;
}
.row:nth-child(1) .box:nth-child(5) {
  background-color: hsl(var(--ref-palette-primary30));
}
.row:nth-child(1) .box:nth-child(6) {
  background-color: hsl(var(--ref-palette-primary35));
  display: none;
}
.row:nth-child(1) .box:nth-child(7) {
  background-color: hsl(var(--ref-palette-primary40));
}
.row:nth-child(1) .box:nth-child(8) {
  background-color: hsl(var(--ref-palette-primary50));
}
.row:nth-child(1) .box:nth-child(9) {
  background-color: hsl(var(--ref-palette-primary60));
}
.row:nth-child(1) .box:nth-child(10) {
  background-color: hsl(var(--ref-palette-primary70));
}
.row:nth-child(1) .box:nth-child(11) {
  background-color: hsl(var(--ref-palette-primary80));
}
.row:nth-child(1) .box:nth-child(12) {
  background-color: hsl(var(--ref-palette-primary90));
}
.row:nth-child(1) .box:nth-child(13) {
  background-color: hsl(var(--ref-palette-primary95));
}
.row:nth-child(1) .box:nth-child(14) {
  background-color: hsl(var(--ref-palette-primary98));
}
.row:nth-child(1) .box:nth-child(15) {
  background-color: hsl(var(--ref-palette-primary99));
}
.row:nth-child(1) .box:nth-child(16) {
  background-color: hsl(var(--ref-palette-primary100));
}


.row:nth-child(2) .box:nth-child(1) {
  background-color: hsl(var(--ref-palette-secondary0));
}
.row:nth-child(2) .box:nth-child(2) {
  background-color: hsl(var(--ref-palette-secondary10));
}
.row:nth-child(2) .box:nth-child(3) {
  background-color: hsl(var(--ref-palette-secondary20));
}
.row:nth-child(2) .box:nth-child(4) {
  background-color: hsl(var(--ref-palette-secondary25));
  display: none;
}
.row:nth-child(2) .box:nth-child(5) {
  background-color: hsl(var(--ref-palette-secondary30));
}
.row:nth-child(2) .box:nth-child(6) {
  background-color: hsl(var(--ref-palette-secondary35));
  display: none;
}
.row:nth-child(2) .box:nth-child(7) {
  background-color: hsl(var(--ref-palette-secondary40));
}
.row:nth-child(2) .box:nth-child(8) {
  background-color: hsl(var(--ref-palette-secondary50));
}
.row:nth-child(2) .box:nth-child(9) {
  background-color: hsl(var(--ref-palette-secondary60));
}
.row:nth-child(2) .box:nth-child(10) {
  background-color: hsl(var(--ref-palette-secondary70));
}
.row:nth-child(2) .box:nth-child(11) {
  background-color: hsl(var(--ref-palette-secondary80));
}
.row:nth-child(2) .box:nth-child(12) {
  background-color: hsl(var(--ref-palette-secondary90));
}
.row:nth-child(2) .box:nth-child(13) {
  background-color: hsl(var(--ref-palette-secondary95));
}
.row:nth-child(2) .box:nth-child(14) {
  background-color: hsl(var(--ref-palette-secondary98));
}
.row:nth-child(2) .box:nth-child(15) {
  background-color: hsl(var(--ref-palette-secondary99));
}
.row:nth-child(2) .box:nth-child(16) {
  background-color: hsl(var(--ref-palette-secondary100));
}


.row:nth-child(3) .box:nth-child(1) {
  background-color: hsl(var(--ref-palette-tertiary0));
}
.row:nth-child(3) .box:nth-child(2) {
  background-color: hsl(var(--ref-palette-tertiary10));
}
.row:nth-child(3) .box:nth-child(3) {
  background-color: hsl(var(--ref-palette-tertiary20));
}
.row:nth-child(3) .box:nth-child(4) {
  background-color: hsl(var(--ref-palette-tertiary25));
  display: none;
}
.row:nth-child(3) .box:nth-child(5) {
  background-color: hsl(var(--ref-palette-tertiary30));
}
.row:nth-child(3) .box:nth-child(6) {
  background-color: hsl(var(--ref-palette-tertiary35));
  display: none;
}
.row:nth-child(3) .box:nth-child(7) {
  background-color: hsl(var(--ref-palette-tertiary40));
}
.row:nth-child(3) .box:nth-child(8) {
  background-color: hsl(var(--ref-palette-tertiary50));
}
.row:nth-child(3) .box:nth-child(9) {
  background-color: hsl(var(--ref-palette-tertiary60));
}
.row:nth-child(3) .box:nth-child(10) {
  background-color: hsl(var(--ref-palette-tertiary70));
}
.row:nth-child(3) .box:nth-child(11) {
  background-color: hsl(var(--ref-palette-tertiary80));
}
.row:nth-child(3) .box:nth-child(12) {
  background-color: hsl(var(--ref-palette-tertiary90));
}
.row:nth-child(3) .box:nth-child(13) {
  background-color: hsl(var(--ref-palette-tertiary95));
}
.row:nth-child(3) .box:nth-child(14) {
  background-color: hsl(var(--ref-palette-tertiary98));
}
.row:nth-child(3) .box:nth-child(15) {
  background-color: hsl(var(--ref-palette-tertiary99));
}
.row:nth-child(3) .box:nth-child(16) {
  background-color: hsl(var(--ref-palette-tertiary100));
}



.row:nth-child(4) .box:nth-child(1) {
  background-color: hsl(var(--ref-palette-neutral0));
}
.row:nth-child(4) .box:nth-child(2) {
  background-color: hsl(var(--ref-palette-neutral10));
}
.row:nth-child(4) .box:nth-child(3) {
  background-color: hsl(var(--ref-palette-neutral20));
}
.row:nth-child(4) .box:nth-child(4) {
  background-color: hsl(var(--ref-palette-neutral25));
  display: none;
}
.row:nth-child(4) .box:nth-child(5) {
  background-color: hsl(var(--ref-palette-neutral30));
}
.row:nth-child(4) .box:nth-child(6) {
  background-color: hsl(var(--ref-palette-neutral35));
  display: none;
}
.row:nth-child(4) .box:nth-child(7) {
  background-color: hsl(var(--ref-palette-neutral40));
}
.row:nth-child(4) .box:nth-child(8) {
  background-color: hsl(var(--ref-palette-neutral50));
}
.row:nth-child(4) .box:nth-child(9) {
  background-color: hsl(var(--ref-palette-neutral60));
}
.row:nth-child(4) .box:nth-child(10) {
  background-color: hsl(var(--ref-palette-neutral70));
}
.row:nth-child(4) .box:nth-child(11) {
  background-color: hsl(var(--ref-palette-neutral80));
}
.row:nth-child(4) .box:nth-child(12) {
  background-color: hsl(var(--ref-palette-neutral90));
}
.row:nth-child(4) .box:nth-child(13) {
  background-color: hsl(var(--ref-palette-neutral95));
}
.row:nth-child(4) .box:nth-child(14) {
  background-color: hsl(var(--ref-palette-neutral98));
}
.row:nth-child(4) .box:nth-child(15) {
  background-color: hsl(var(--ref-palette-neutral99));
}
.row:nth-child(4) .box:nth-child(16) {
  background-color: hsl(var(--ref-palette-neutral100));
}



.row:nth-child(5) .box:nth-child(1) {
  background-color: hsl(var(--ref-palette-neutral-variant0));
}
.row:nth-child(5) .box:nth-child(2) {
  background-color: hsl(var(--ref-palette-neutral-variant10));
}
.row:nth-child(5) .box:nth-child(3) {
  background-color: hsl(var(--ref-palette-neutral-variant20));
}
.row:nth-child(5) .box:nth-child(4) {
  background-color: hsl(var(--ref-palette-neutral-variant25));
  display: none;
}
.row:nth-child(5) .box:nth-child(5) {
  background-color: hsl(var(--ref-palette-neutral-variant30));
}
.row:nth-child(5) .box:nth-child(6) {
  background-color: hsl(var(--ref-palette-neutral-variant35));
  display: none;
}
.row:nth-child(5) .box:nth-child(7) {
  background-color: hsl(var(--ref-palette-neutral-variant40));
}
.row:nth-child(5) .box:nth-child(8) {
  background-color: hsl(var(--ref-palette-neutral-variant50));
}
.row:nth-child(5) .box:nth-child(9) {
  background-color: hsl(var(--ref-palette-neutral-variant60));
}
.row:nth-child(5) .box:nth-child(10) {
  background-color: hsl(var(--ref-palette-neutral-variant70));
}
.row:nth-child(5) .box:nth-child(11) {
  background-color: hsl(var(--ref-palette-neutral-variant80));
}
.row:nth-child(5) .box:nth-child(12) {
  background-color: hsl(var(--ref-palette-neutral-variant90));
}
.row:nth-child(5) .box:nth-child(13) {
  background-color: hsl(var(--ref-palette-neutral-variant95));
}
.row:nth-child(5) .box:nth-child(14) {
  background-color: hsl(var(--ref-palette-neutral-variant98));
}
.row:nth-child(5) .box:nth-child(15) {
  background-color: hsl(var(--ref-palette-neutral-variant99));
}
.row:nth-child(5) .box:nth-child(16) {
  background-color: hsl(var(--ref-palette-neutral-variant100));
}
