.shape-none {
  border-radius: var(--sys-shape-corner-none-default-size);
}
.shape-extra-small {
  border-radius: var(--sys-shape-corner-extra-small-default-size);
}
.shape-small {
  border-radius: var(--sys-shape-corner-small-default-size);
}
.shape-medium {
  border-radius: var(--sys-shape-corner-medium-default-size);
}
.shape-large {
  border-radius: var(--sys-shape-corner-large-default-size);
}
.shape-extra-large {
  border-radius: var(--sys-shape-corner-extra-large-default-size);
}
.extra-small-top {
  border-top-left-radius: var(--sys-shape-corner-extra-small-top-top-left);
  border-top-right-radius: var(--sys-shape-corner-extra-small-top-top-right);
}
.large-end {
  border-top-right-radius: var(--sys-shape-corner-large-end-top-right);
  border-bottom-right-radius: var(--sys-shape-corner-large-end-bottom-right);
}
.large-top {
  border-top-left-radius: var(--sys-shape-corner-large-top-top-left);
  border-top-right-radius: var(--sys-shape-corner-large-top-top-right);
}
.extra-large-top {
  border-top-left-radius: var(--sys-shape-corner-extra-large-top-top-left);
  border-top-right-radius: var(--sys-shape-corner-extra-large-top-top-right);
}
