@layer base {
  :root {
    /* HCT 300/48 */

    /* primary */
    --ref-palette-primary0: 0, 0, 0;
    --ref-palette-primary10: 35, 0, 92;
    --ref-palette-primary20: 57, 29, 114;
    --ref-palette-primary25: 68, 42, 126;
    --ref-palette-primary30: 80, 55, 138;
    --ref-palette-primary35: 92, 67, 151;
    --ref-palette-primary40: 104, 79, 164;
    --ref-palette-primary50: 130, 104, 191;
    --ref-palette-primary60: 156, 130, 219;
    --ref-palette-primary70: 183, 156, 248;
    --ref-palette-primary80: 208, 188, 255;
    --ref-palette-primary90: 233, 221, 255;
    --ref-palette-primary95: 246, 237, 255;
    --ref-palette-primary98: 254, 247, 255;
    --ref-palette-primary99: 255, 251, 255;
    --ref-palette-primary100: 255, 255, 255;

    /* secondary */
    --ref-palette-secondary0: 0, 0, 0;
    --ref-palette-secondary10: 30, 25, 43;
    --ref-palette-secondary20: 51, 45, 65;
    --ref-palette-secondary25: 62, 56, 76;
    --ref-palette-secondary30: 74, 68, 88;
    --ref-palette-secondary35: 86, 79, 100;
    --ref-palette-secondary40: 98, 91, 112;
    --ref-palette-secondary50: 123, 115, 138;
    --ref-palette-secondary60: 149, 141, 164;
    --ref-palette-secondary70: 176, 167, 191;
    --ref-palette-secondary80: 204, 194, 219;
    --ref-palette-secondary90: 232, 222, 248;
    --ref-palette-secondary95: 246, 237, 255;
    --ref-palette-secondary98: 254, 247, 255;
    --ref-palette-secondary99: 255, 251, 255;
    --ref-palette-secondary100: 255, 255, 255;

    /* tertiary */
    --ref-palette-tertiary0: 0, 0, 0;
    --ref-palette-tertiary10: 49, 16, 28;
    --ref-palette-tertiary20: 74, 37, 49;
    --ref-palette-tertiary25: 86, 48, 60;
    --ref-palette-tertiary30: 99, 59, 72;
    --ref-palette-tertiary35: 112, 70, 83;
    --ref-palette-tertiary40: 126, 82, 95;
    --ref-palette-tertiary50: 153, 106, 120;
    --ref-palette-tertiary60: 181, 131, 145;
    --ref-palette-tertiary70: 210, 157, 172;
    --ref-palette-tertiary80: 240, 184, 199;
    --ref-palette-tertiary90: 255, 217, 226;
    --ref-palette-tertiary95: 255, 236, 240;
    --ref-palette-tertiary98: 255, 248, 248;
    --ref-palette-tertiary99: 255, 251, 255;
    --ref-palette-tertiary100: 255, 255, 255;

    /* neutral */
    --ref-palette-neutral0: 0, 0, 0;
    --ref-palette-neutral10: 28, 27, 30;
    --ref-palette-neutral20: 50, 48, 51;
    --ref-palette-neutral25: 61, 59, 62;
    --ref-palette-neutral30: 72, 70, 74;
    --ref-palette-neutral35: 84, 81, 86;
    --ref-palette-neutral40: 96, 93, 98;
    --ref-palette-neutral50: 121, 118, 122;
    --ref-palette-neutral60: 147, 143, 148;
    --ref-palette-neutral70: 174, 170, 174;
    --ref-palette-neutral80: 202, 197, 202;
    --ref-palette-neutral90: 230, 225, 230;
    --ref-palette-neutral95: 245, 239, 244;
    --ref-palette-neutral98: 253, 248, 253;
    --ref-palette-neutral99: 255, 251, 255;
    --ref-palette-neutral100: 255, 255, 255;

    /* neutral-variant */
    --ref-palette-neutral-variant0: 0, 0, 0;
    --ref-palette-neutral-variant10: 29, 26, 34;
    --ref-palette-neutral-variant20: 50, 47, 55;
    --ref-palette-neutral-variant25: 61, 58, 67;
    --ref-palette-neutral-variant30: 73, 69, 78;
    --ref-palette-neutral-variant35: 85, 81, 90;
    --ref-palette-neutral-variant40: 97, 93, 102;
    --ref-palette-neutral-variant50: 122, 117, 127;
    --ref-palette-neutral-variant60: 148, 143, 153;
    --ref-palette-neutral-variant70: 175, 169, 180;
    --ref-palette-neutral-variant80: 202, 196, 207;
    --ref-palette-neutral-variant90: 231, 224, 235;
    --ref-palette-neutral-variant95: 245, 238, 250;
    --ref-palette-neutral-variant98: 254, 247, 255;
    --ref-palette-neutral-variant99: 255, 251, 255;
    --ref-palette-neutral-variant100: 255, 255, 255;

    /* error */
    --ref-palette-error0: 0, 0, 0;
    --ref-palette-error10: 65, 0, 2;
    --ref-palette-error20: 105, 0, 5;
    --ref-palette-error25: 126, 0, 7;
    --ref-palette-error30: 147, 0, 10;
    --ref-palette-error35: 168, 7, 16;
    --ref-palette-error40: 186, 26, 26;
    --ref-palette-error50: 222, 55, 48;
    --ref-palette-error60: 255, 84, 73;
    --ref-palette-error70: 255, 137, 125;
    --ref-palette-error80: 255, 180, 171;
    --ref-palette-error90: 255, 218, 214;
    --ref-palette-error95: 255, 237, 234;
    --ref-palette-error98: 255, 248, 247;
    --ref-palette-error99: 255, 251, 255;
    --ref-palette-error100: 255, 255, 255;
  }
}
