:root {
  --sys-radius-none: 2px;
  --sys-radius-xsmall: 4px;
  --sys-radius-small: 8px;
  --sys-radius-medium: 12px;
  --sys-radius-large: 16px;
  --sys-radius-xlarge: 20px;
  --sys-radius-xxlarge: 28px;
}
