/* TODO: Refactor pwa build to esbuild and move the styles to ui-kit */

@import url('tokens/palette-hsl.css');
@import url('tokens/color.css');
@import url('tokens/typography.css');
@import url('tokens/shape.css');
@import url('tokens/motion.css');
@import url('tokens/opacity.css');
@import url('tokens/elevation.css');
@import url('tokens/spacing.css');
@import url('tokens/scrollbar.css');
@import url('tokens/z-index.css');
@import url('safe-area.css');
@import url('body.css');
