.alwatr-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  contain: size layout paint style;
  box-sizing: content-box;
  vertical-align: middle;

  svg {
    display: block;
    height: 100%;
    width: 100%;
    stroke: currentcolor;
    fill: currentcolor;
  }
}

[dir='rtl'] .alwatr-icon.flip-icon-in-rtl svg,
[dir='rtl'] .flip-icon-in-rtl .alwatr-icon svg {
  transform: scaleX(-1);
}
