# Authenticated region
# Nitrobase file location that can be accessed by authenticated users.

location /$nitrobaseRegionAuthenticated/ {
  if ($authUserToken = "") {
    # User not defined
    set $debugInfo 561;
    return 401;
    break;
  }

  if (!-f $document_root/$userLocation/.token/$authUserToken.asn) {
    set $debugInfo 562;
    # Token file not found then user not authenticated
    return 403;
    break;
  }

  set $debugInfo 562;
  try_files $uri =404;
}
