* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:root {
  --ion-color-primary: #541690;
  --ion-color-primary-rgb: 84, 22, 144;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #4a137f;
  --ion-color-primary-tint: #652d9b;

  --ion-color-secondary: #ff4949;
  --ion-color-secondary-rgb: 255, 73, 73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e04040;
  --ion-color-secondary-tint: #ff5b5b;

  --ion-color-tertiary: #ff8d29;
  --ion-color-tertiary-rgb: 255, 141, 41;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e07c24;
  --ion-color-tertiary-tint: #ff983e;

  --ion-background-color: #efefef;
  --ion-background-color-rgb: 238, 238, 238;

  --ion-text-color: #01010e;
  --ion-text-color-rgb: 1, 1, 14;

  --ion-color-step-50: #e2e2e3;
  --ion-color-step-100: #d6d6d8;
  --ion-color-step-150: #cacacc;
  --ion-color-step-200: #bfbfc1;
  --ion-color-step-250: #b3b3b6;
  --ion-color-step-300: #a7a7ab;
  --ion-color-step-350: #9b9ba0;
  --ion-color-step-400: #8f8f94;
  --ion-color-step-450: #838389;
  --ion-color-step-500: #78787e;
  --ion-color-step-550: #6c6c73;
  --ion-color-step-600: #606068;
  --ion-color-step-650: #54545c;
  --ion-color-step-700: #484851;
  --ion-color-step-750: #3c3c46;
  --ion-color-step-800: #30303b;
  --ion-color-step-850: #252530;
  --ion-color-step-900: #191924;
  --ion-color-step-950: #0d0d19;

  --ion-card-background: var(--ion-color-primary-contrast);
  --ion-card-background-rgb: var(--ion-color-primary-contrast-rgb);
}

.noscript {
  text-align: center;
  font-size: 2rem;
  padding: 2em 1em;
}

.noscript p {
  margin: 0.5em 0;
}

body.backdrop-no-scroll {
  overflow: hidden;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  transform: translateZ(0);
  text-rendering: optimizeLegibility;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  overscroll-behavior-y: none;
  text-size-adjust: none;
  background-color: var(--ion-background-color, #1111);
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  text-size-adjust: 100%;
  font-family: var(--ion-font-family);
}

html:not(.hydrated) body {
  display: none;
}

html.ion-ce body {
  display: block;
}

html.plt-pwa {
  height: 100vh;
}

html.plt-ios.plt-hybrid,
html.plt-ios.plt-pwa {
  --ion-statusbar-padding: 20px;
}

@supports (padding-top: 20px) {
  html {
    --ion-safe-area-top: var(--ion-statusbar-padding);
  }
}

@supports (padding-top: constant(safe-area-inset-top)) {
  html {
    --ion-safe-area-top: constant(safe-area-inset-top);
    --ion-safe-area-bottom: constant(safe-area-inset-bottom);
    --ion-safe-area-left: constant(safe-area-inset-left);
    --ion-safe-area-right: constant(safe-area-inset-right);
  }
}

@supports (padding-top: env(safe-area-inset-top)) {
  html {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
  }
}

ion-alert * {
  font-family: var(--ion-font-family) !important;
}
