<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <title>..:: KEEP ::..</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- FONTS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400italic,500,600,700,700italic,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400italic,500,600,700,700italic,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,400italic,500,600,700,700italic,900"
    />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!--CSS -->
    <link rel="stylesheet" href="css/structure.css" />
    <link rel="stylesheet" href="css/renovate4.css" />
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="plugins/rs-plugin-6.custom/css/rs6.css" />
  </head>

  <body
    class="home page template-slider style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-transparent header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky"
  >
    <div id="Wrapper">
      {{ partial "header.html" . }}
      <div id="Content">
        <div
        class="section mcb-section no-margin-h equal-height-wrap bg-cover"
          style="
            padding-bottom: 50px;
            background-image: url(images/reno4-home-homes-bg.png);
            background-repeat: no-repeat;
            background-position: center top;
          "
        >
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-6">
                <img
                  src="images/reno4-home-team.png"
                  alt="reno4-home-team"
                  title=""
                  width="780"
                  height="780"
                />
              </div>
              <div
                class="col-md-6"
                style="
                  padding: 50px 6%;
                  background-color: #ffd800;
                  background-image: url(images/reno4-smallbg-1.png);
                  background-repeat: no-repeat;
                  background-position: right bottom;
                "
              >
                <h3>
                  We offer a wide variety of services for office spaces. We will
                  help you create a great looking work area for high
                  productivity.
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                  maecenas accumsan lacus vel facilisis.
                </p>
                <hr class="no_line" style="margin: 0 auto 20px" />
                <a class="button button_size_2" href="#"
                  ><span class="button_label">About us</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="section" style="padding-top: 50px; padding-bottom: 30px">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="text-left mobile_align_center">
                  <h2>
                    We have a vast offer that
                    <br />
                    covers all renovation needs
                  </h2>
                </div>
              </div>
              <div class="col-12">
                <hr class="no_line" style="margin: 0 auto 50px" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding: 0px 2%">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="images/reno4-home-icon1.png"
                      alt="reno4-home-icon1"
                      title=""
                      width="780"
                      height="780"
                    />
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h3>Construction</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        seagna aliqua maecenas accum lacus vel facilisis.
                      </p>
                      <h5>
                        Prices from
                        <span style="border-bottom: 2px solid #ffd800"
                          >$30/m<sup>2</sup></span
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0px 2%">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="images/reno4-home-icon2.png"
                      alt="reno4-home-icon2"
                      title=""
                      width="780"
                      height="780"
                    />
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h3>Electrics</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        seagna aliqua maecenas accum lacus vel facilisis.
                      </p>
                      <h5>
                        Prices from
                        <span style="border-bottom: 2px solid #ffd800"
                          >$25/point</span
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0px 2%">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="images/reno4-home-icon3.png"
                      alt="reno4-home-icon3"
                      title=""
                      width="780"
                      height="780"
                    />
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h3>Plumbing</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        seagna aliqua maecenas accum lacus vel facilisis.
                      </p>
                      <h5>
                        Prices from
                        <span style="border-bottom: 2px solid #ffd800"
                          >$35/point</span
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr class="no_line" style="margin: 0 auto 50px" />
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <hr style="margin: 0 auto 35px" />
                  </div>
                  <div class="col-md-9">
                    <div class="text-right mobile_align_center">
                      <p>
                        Labore et dolore magna aliqua it enim ad minim <br />
                        veniam, quis nostrud exercitation
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      class="text-left mobile_align_center"
                      style="padding: 6px 0%"
                    >
                      <a
                        class="button button_full_width button_size_2"
                        href="services-pricing.html"
                        style="
                          background-color: #ffd800 !important;
                          color: #10293d;
                          width: 100%;
                        "
                        ><span class="button_label">Our offer</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="section mcb-section full-width"
          style="
            padding-top: 55px;
            padding-bottom: 70px;
            background-image: url(images/reno4-home-graybg.png);
            background-repeat: repeat-y;
            background-position: center top;
          "
        >
          <div class="row">
            <div class="col-12">
              <div
                class="column_attr clearfix align_center"
                style="padding: 20px 0 30px 0"
              >
                <h2>Take a look at our realizations</h2>
              </div>
            </div>
            <div class="col-12">
              <div class="content_slider center">
                <ul class="content_slider_ul">
                  <li class="content_slider_li_1">
                    <a href="images/reno4-home-slide2.jpg" rel="prettyphoto"
                      ><img
                        width="1024"
                        height="700"
                        src="images/reno4-home-slide2.jpg"
                        class="wp-post-image"
                        alt=""
                        loading="lazy"
                    /></a>
                  </li>
                  <li class="content_slider_li_2">
                    <a href="images/reno4-home-slide3.jpg" rel="prettyphoto"
                      ><img
                        width="1024"
                        height="700"
                        src="images/reno4-home-slide3.jpg"
                        class="wp-post-image"
                        alt=""
                        loading="lazy"
                    /></a>
                  </li>
                  <li class="content_slider_li_3">
                    <a href="images/reno4-home-slide1.jpg" rel="prettyphoto"
                      ><img
                        width="1024"
                        height="700"
                        src="images/reno4-home-slide1.jpg"
                        class="wp-post-image"
                        alt=""
                        loading="lazy"
                    /></a>
                  </li>
                </ul>
                <div class="slider_pager slider_pagination"></div>
              </div>
            </div>
            <div class="col-12">
              <hr class="no_line" style="margin: 0 auto 40px auto" />
            </div>
            <div class="col-12">
              <div class="button_align align_center">
                <a class="button button_size_2" href="realizations.html"
                  ><span class="button_label">See our work</span></a
                >
              </div>
            </div>
            <div class="col-12">
              <div
                class="column_attr clearfix align_center"
                style="padding: 20px 0 0"
              >
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum <br />
                  dolore eu fugiat nulla pariatur excepteur sint.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="section mcb-section no-margin-h equal-height-wrap"
          style="padding-top: 75px"
        >
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="images/reno4-reno-guys.png"
                  alt="reno4-reno-guys"
                  title=""
                  width="1024"
                  height="1076"
                />
              </div>
              <div class="col-md-6" style="padding: 30px">
                <div class="row">
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h2>
                        Call us if you have
                        <br />
                        a question
                      </h2>
                    </div>
                  </div>
                  <div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-md-2">
                    <div
                      class="column_attr clearfix align_center mobile_align_center"
                    >
                      <h2><i class="icon-phone" style="color: #626262"></i></h2>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div
                      class="column_attr clearfix mobile_align_center"
                      style="padding: 5px 0% 20px"
                    >
                      <h4 style="margin: 0">+95 454 959</h4>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="column_attr clearfix align_center">
                      <h2>
                        <i
                          class="icon-paper-plane-line"
                          style="color: #626262"
                        ></i>
                      </h2>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="column_attr clearfix mobile_align_center">
                      <h4 style="margin: 0; display: inline">
                        <a href="#">noreply@envato.com</a>
                      </h4>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="column_attr clearfix mobile_align_center"
                      style="padding: 38px 0px 0px 0px"
                    >
                      <p>
                        Duis aute n <b>9:00am – 6:00pm</b> reprehenderit <br />
                        in voluptae eu ceptsint.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "side-slide.html" . }}
    <div id="body_overlay"></div>
    <!-- JS -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mfn.menu.js"></script>
    <script src="js/jquery.plugins.js"></script>
    <script src="js/animations/animations.js"></script>
    <script src="js/translate3d.js"></script>
    <script src="js/scripts.js"></script>
    <script src="plugins/rs-plugin-6.custom/js/revolution.tools.min.js"></script>
    <script src="plugins/rs-plugin-6.custom/js/rs6.min.js"></script>
    <script type="text/javascript">
      var revapi1, tpj;

      function revinit_revslider11() {
        jQuery(function () {
          tpj = jQuery;
          revapi1 = tpj('#rev_slider_1_1');
          if (revapi1 == undefined || revapi1.revolution == undefined) {
            revslider_showDoubleJqueryError('rev_slider_1_1');
          } else {
            revapi1.revolution({
              sliderLayout: 'fullwidth',
              visibilityLevels: '1240,1240,778,778',
              gridwidth: '1240,1240,778,778',
              gridheight: '900,900,700,700',
              spinner: 'spinner11',
              perspective: 600,
              perspectiveType: 'local',
              spinnerclr: '#ffd800',
              editorheight: '900,768,700,720',
              responsiveLevels: '1240,1240,778,778',
              progressBar: {
                disableProgressBar: true,
              },
              navigation: {
                onHoverStop: false,
              },
              fallbacks: {
                allowHTML5AutoPlayOnAndroid: true,
              },
            });
          }
        });
      } // End of RevInitScript
      var once_revslider11 = false;
      if (document.readyState === 'loading') {
        document.addEventListener('readystatechange', function () {
          if (
            (document.readyState === 'interactive' ||
              document.readyState === 'complete') &&
            !once_revslider11
          ) {
            once_revslider11 = true;
            revinit_revslider11();
          }
        });
      } else {
        once_revslider11 = true;
        revinit_revslider11();
      }
    </script>
  </body>
</html>
