@import('./palette.css')

@layer base {
  :root {
    --sys-color-primary: var(--ref-palette-primary40);
    --sys-color-on-primary: var(--ref-palette-primary100);
    --sys-color-primary-container: var(--ref-palette-primary90);
    --sys-color-on-primary-container: var(--ref-palette-primary10);

    --sys-color-secondary: var(--ref-palette-secondary40);
    --sys-color-on-secondary: var(--ref-palette-secondary100);
    --sys-color-secondary-container: var(--ref-palette-secondary90);
    --sys-color-on-secondary-container: var(--ref-palette-secondary10);

    --sys-color-tertiary: var(--ref-palette-tertiary40);
    --sys-color-on-tertiary: var(--ref-palette-tertiary100);
    --sys-color-tertiary-container: var(--ref-palette-tertiary90);
    --sys-color-on-tertiary-container: var(--ref-palette-tertiary10);

    --sys-color-background: var(--ref-palette-neutral99);
    --sys-color-on-background: var(--ref-palette-neutral10);

    --sys-color-surface: var(--ref-palette-neutral99);
    --sys-color-on-surface: var(--ref-palette-neutral10);

    --sys-color-surface-variant: var(--ref-palette-neutral-variant90);
    --sys-color-on-surface-variant: var(--ref-palette-neutral-variant30);

    --sys-color-outline: var(--ref-palette-neutral-variant50);
    --sys-color-outline-variant: var(--ref-palette-neutral-variant80);

    --sys-color-error: var(--ref-palette-error40);
    --sys-color-error-container: var(--ref-palette-error90);
    --sys-color-on-error: var(--ref-palette-error100);
    --sys-color-on-error-container: var(--ref-palette-error10);

    --sys-color-inverse-primary: var(--ref-palette-primary80);
    --sys-color-inverse-surface: var(--ref-palette-neutral20);
    --sys-color-inverse-on-surface: var(--ref-palette-neutral95);

    --sys-color-surface-tint: var(--sys-color-primary-hsl);
    --sys-color-shadow: var(--ref-palette-neutral0);
    --sys-color-scrim: var(--ref-palette-neutral0);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --sys-color-primary: var(--ref-palette-primary80);
    --sys-color-on-primary: var(--ref-palette-primary20);
    --sys-color-primary-container: var(--ref-palette-primary30);
    --sys-color-on-primary-container: var(--ref-palette-primary90);

    --sys-color-secondary: var(--ref-palette-secondary80);
    --sys-color-on-secondary: var(--ref-palette-secondary20);
    --sys-color-secondary-container: var(--ref-palette-secondary30);
    --sys-color-on-secondary-container: var(--ref-palette-secondary90);

    --sys-color-tertiary: var(--ref-palette-tertiary80);
    --sys-color-on-tertiary: var(--ref-palette-tertiary20);
    --sys-color-tertiary-container: var(--ref-palette-tertiary30);
    --sys-color-on-tertiary-container: var(--ref-palette-tertiary90);

    --sys-color-background: var(--ref-palette-neutral10);
    --sys-color-on-background: var(--ref-palette-neutral90);

    --sys-color-surface: var(--ref-palette-neutral10);
    --sys-color-on-surface: var(--ref-palette-neutral90);

    --sys-color-surface-variant: var(--ref-palette-neutral-variant30);
    --sys-color-on-surface-variant: var(--ref-palette-neutral-variant80);

    --sys-color-outline: var(--ref-palette-neutral-variant60);
    --sys-color-outline-variant: var(--ref-palette-neutral-variant30);

    --sys-color-error: var(--ref-palette-error80);
    --sys-color-error-container: var(--ref-palette-error30);
    --sys-color-on-error: var(--ref-palette-error20);
    --sys-color-on-error-container: var(--ref-palette-error90);

    --sys-color-inverse-primary: var(--ref-palette-primary40);
    --sys-color-inverse-surface: var(--ref-palette-neutral90);
    --sys-color-inverse-on-surface: var(--ref-palette-neutral20);
    }
  }
}
