:root {
  /* Surface tint color */
  --alwatr-sys-elevation-surface-tint-color: var(--alwatr-sys-color-primary);
  /* +5 */
  --alwatr-sys-elevation-level5-value: 12px;
  --alwatr-sys-elevation-level5-unit: 1px;
  --alwatr-sys-elevation-level5: 12px;
  /* +4 */
  --alwatr-sys-elevation-level4-value: 8px;
  --alwatr-sys-elevation-level4-unit: 1px;
  --alwatr-sys-elevation-level4: 8px;
  /* +3 */
  --alwatr-sys-elevation-level3-value: 6px;
  --alwatr-sys-elevation-level3-unit: 1px;
  --alwatr-sys-elevation-level3: 6px;
  /* +2 */
  --alwatr-sys-elevation-level2-value: 3px;
  --alwatr-sys-elevation-level2-unit: 1px;
  --alwatr-sys-elevation-level2: 3px;
  /* +1 */
  --alwatr-sys-elevation-level1-value: 1px;
  --alwatr-sys-elevation-level1-unit: 1px;
  --alwatr-sys-elevation-level1: 1px;
  /* 0 */
  --alwatr-sys-elevation-level0-value: 0px;
  --alwatr-sys-elevation-level0-unit: 1px;
  --alwatr-sys-elevation-level0: 0px;
}
