:root {
  /* Emphasized decelerate easing (out) */
  --alwatr-sys-motion-easing-emphasized-decelerate-x0: 0.05000000074505806;
  --alwatr-sys-motion-easing-emphasized-decelerate-y0: 0.699999988079071;
  --alwatr-sys-motion-easing-emphasized-decelerate-x1: 0.10000000149011612;
  --alwatr-sys-motion-easing-emphasized-decelerate-y1: 1;
  /* Emphasized accelerate easing (in) */
  --alwatr-sys-motion-easing-emphasized-accelerate-x0: 0.30000001192092896;
  --alwatr-sys-motion-easing-emphasized-accelerate-y0: 0;
  --alwatr-sys-motion-easing-emphasized-accelerate-x1: 0.800000011920929;
  --alwatr-sys-motion-easing-emphasized-accelerate-y1: 0.15000000596046448;
  /* Standard decelerate easing (out) */
  --alwatr-sys-motion-easing-standard-decelerate-x0: 0;
  --alwatr-sys-motion-easing-standard-decelerate-y0: 0;
  --alwatr-sys-motion-easing-standard-decelerate-x1: 0;
  --alwatr-sys-motion-easing-standard-decelerate-y1: 1;
  /* Standard accelerate easing (in) */
  --alwatr-sys-motion-easing-standard-accelerate-x0: 0.30000001192092896;
  --alwatr-sys-motion-easing-standard-accelerate-y0: 0;
  --alwatr-sys-motion-easing-standard-accelerate-x1: 1;
  --alwatr-sys-motion-easing-standard-accelerate-y1: 1;

  /* Standard easing (in and out) */
  --alwatr-sys-motion-easing-standard-x0: 0.20000000298023224;
  --alwatr-sys-motion-easing-standard-y0: 0;
  --alwatr-sys-motion-easing-standard-x1: 0;
  --alwatr-sys-motion-easing-standard-y1: 1;
  /* Linear easing */
  --alwatr-sys-motion-easing-linear-x0: 0;
  --alwatr-sys-motion-easing-linear-y0: 0;
  --alwatr-sys-motion-easing-linear-x1: 1;
  --alwatr-sys-motion-easing-linear-y1: 1;
  /* Emphasized */
  --alwatr-sys-motion-easing-emphasized-x0: 0.20000000298023224;
  --alwatr-sys-motion-easing-emphasized-y0: 0;
  --alwatr-sys-motion-easing-emphasized-x1: 0;
  --alwatr-sys-motion-easing-emphasized-y1: 1;
  /* Motion path */
  --alwatr-sys-motion-path-standard-path: 1;


  /* Alwatr */
  --alwatr-ref-motion-duration-frame: 16.66666666666666667ms;

  --alwatr-sys-motion-duration-none: calc(2 * var(--alwatr-ref-motion-duration-frame));
  --alwatr-sys-motion-duration-small-in: calc(8 * var(--alwatr-ref-motion-duration-frame));
  --alwatr-sys-motion-duration-small-out: calc(6 * var(--alwatr-ref-motion-duration-frame));
  --alwatr-sys-motion-duration-medium-in: calc(16 * var(--alwatr-ref-motion-duration-frame));
  --alwatr-sys-motion-duration-medium-out: calc(12 * var(--alwatr-ref-motion-duration-frame));
  --alwatr-sys-motion-duration-large-in: calc(18 * var(--alwatr-ref-motion-duration-frame));
  --alwatr-sys-motion-duration-large-out: calc(16 * var(--alwatr-ref-motion-duration-frame));

  --alwatr-sys-motion-easing-linear: cubic-bezier(0.4, 0, 0.6, 1);
  --alwatr-sys-motion-easing-incoming: cubic-bezier(0, 0, 0.2, 1);
  --alwatr-sys-motion-easing-exiting: cubic-bezier(0.4, 0, 1, 1);
  --alwatr-sys-motion-easing-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}
