:root {
  /* --source: #005fac; */
  /* primary */
  --ref-palette-primary0: #000000;
  --ref-palette-primary10: #001c39;
  --ref-palette-primary20: #00315d;
  --ref-palette-primary25: #003c70;
  --ref-palette-primary30: #004884;
  --ref-palette-primary35: #005398;
  --ref-palette-primary40: #015fac;
  --ref-palette-primary50: #3279c7;
  --ref-palette-primary60: #5293e3;
  --ref-palette-primary70: #6faeff;
  --ref-palette-primary80: #a4c9ff;
  --ref-palette-primary90: #d4e3ff;
  --ref-palette-primary95: #ebf1ff;
  --ref-palette-primary98: #f8f9ff;
  --ref-palette-primary99: #fdfcff;
  --ref-palette-primary100: #ffffff;
  /* secondary */
  --ref-palette-secondary0: #000000;
  --ref-palette-secondary10: #111c2b;
  --ref-palette-secondary20: #263141;
  --ref-palette-secondary25: #313c4c;
  --ref-palette-secondary30: #3d4758;
  --ref-palette-secondary35: #485364;
  --ref-palette-secondary40: #545f71;
  --ref-palette-secondary50: #6d788a;
  --ref-palette-secondary60: #8691a4;
  --ref-palette-secondary70: #a1acc0;
  --ref-palette-secondary80: #bcc7db;
  --ref-palette-secondary90: #d8e3f8;
  --ref-palette-secondary95: #ebf1ff;
  --ref-palette-secondary98: #f8f9ff;
  --ref-palette-secondary99: #fdfcff;
  --ref-palette-secondary100: #ffffff;
  /* tertiary */
  --ref-palette-tertiary0: #000000;
  --ref-palette-tertiary10: #271430;
  --ref-palette-tertiary20: #3d2946;
  --ref-palette-tertiary25: #483452;
  --ref-palette-tertiary30: #543f5e;
  --ref-palette-tertiary35: #614a6a;
  --ref-palette-tertiary40: #6d5677;
  --ref-palette-tertiary50: #876e90;
  --ref-palette-tertiary60: #a288ab;
  --ref-palette-tertiary70: #bda2c6;
  --ref-palette-tertiary80: #d9bde3;
  --ref-palette-tertiary90: #f6d9ff;
  --ref-palette-tertiary95: #fdebff;
  --ref-palette-tertiary98: #fff7fc;
  --ref-palette-tertiary99: #fffbff;
  --ref-palette-tertiary100: #ffffff;
  /* neutral */
  --ref-palette-neutral0: #000000;
  --ref-palette-neutral10: #1a1c1e;
  --ref-palette-neutral20: #2f3033;
  --ref-palette-neutral25: #3a3b3e;
  --ref-palette-neutral30: #46474a;
  --ref-palette-neutral35: #515256;
  --ref-palette-neutral40: #5d5e62;
  --ref-palette-neutral50: #76777a;
  --ref-palette-neutral60: #909094;
  --ref-palette-neutral70: #ababae;
  --ref-palette-neutral80: #c6c6ca;
  --ref-palette-neutral90: #e3e2e6;
  --ref-palette-neutral95: #f1f0f4;
  --ref-palette-neutral98: #faf9fd;
  --ref-palette-neutral99: #fdfcff;
  --ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --ref-palette-neutral-variant0: #000000;
  --ref-palette-neutral-variant10: #181c22;
  --ref-palette-neutral-variant20: #2d3138;
  --ref-palette-neutral-variant25: #383c43;
  --ref-palette-neutral-variant30: #43474e;
  --ref-palette-neutral-variant35: #4f525a;
  --ref-palette-neutral-variant40: #5b5e66;
  --ref-palette-neutral-variant50: #73777f;
  --ref-palette-neutral-variant60: #8d9199;
  --ref-palette-neutral-variant70: #a8abb4;
  --ref-palette-neutral-variant80: #c3c6cf;
  --ref-palette-neutral-variant90: #dfe2eb;
  --ref-palette-neutral-variant95: #eef0fa;
  --ref-palette-neutral-variant98: #f8f9ff;
  --ref-palette-neutral-variant99: #fdfcff;
  --ref-palette-neutral-variant100: #ffffff;
  /* error */
  --ref-palette-error0: #000000;
  --ref-palette-error10: #410002;
  --ref-palette-error20: #690005;
  --ref-palette-error25: #7e0007;
  --ref-palette-error30: #93000a;
  --ref-palette-error35: #a80710;
  --ref-palette-error40: #ba1a1a;
  --ref-palette-error50: #de3730;
  --ref-palette-error60: #ff5449;
  --ref-palette-error70: #ff897d;
  --ref-palette-error80: #ffb4ab;
  --ref-palette-error90: #ffdad6;
  --ref-palette-error95: #ffedea;
  --ref-palette-error98: #fff8f7;
  --ref-palette-error99: #fffbff;
  --ref-palette-error100: #ffffff;
}

:root {
  /* theme light */
  --sys-color-primary: var(--sys-color-primary40);
  --sys-color-on-primary: var(--sys-color-primary100);
  --sys-color-primary-container: var(--sys-color-primary90);
  --sys-color-on-primary-container: var(--sys-color-primary10);

  --sys-color-secondary: var(--sys-color-secondary40);
  --sys-color-on-secondary: var(--sys-color-secondary100);
  --sys-color-secondary-container: var(--sys-color-secondary90);
  --sys-color-on-secondary-container: var(--sys-color-secondary10);

  --sys-color-tertiary: var(--sys-color-tertiary40);
  --sys-color-on-tertiary: var(--sys-color-tertiary100);
  --sys-color-tertiary-container: var(--sys-color-tertiary90);
  --sys-color-on-tertiary-container: var(--sys-color-tertiary10);

  /* --sys-color-background: var(--sys-color-neutral99); */
  --sys-color-background: var(--sys-color-neutral95);
  --sys-color-on-background: var(--sys-color-neutral10);

  --sys-color-surface: var(--sys-color-neutral99);
  --sys-color-on-surface: var(--sys-color-neutral10);

  --sys-color-surface-variant: var(--sys-color-neutral-variant90);
  --sys-color-on-surface-variant: var(--sys-color-neutral-variant30);
  --sys-color-surface-tint: var(--sys-color-primary40);

  --sys-color-outline: var(--sys-color-neutral-variant50);
  --sys-color-outline-variant: var(--sys-color-neutral-variant80);

  --sys-color-error: var(--sys-color-error40);
  --sys-color-error-container: var(--sys-color-error90);
  --sys-color-on-error: var(--sys-color-error99);
  --sys-color-on-error-container: var(--sys-color-error10);

  --sys-color-inverse-primary: var(--sys-color-primary80);
  --sys-color-inverse-surface: var(--sys-color-neutral20);
  --sys-color-inverse-on-surface: var(--sys-color-neutral95);

  --sys-color-shadow: #000;
  --sys-color-scrim: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* theme dark */
    --sys-color-primary: var(--sys-color-primary80);
    --sys-color-on-primary: var(--sys-color-primary20);
    --sys-color-primary-container: var(--sys-color-primary30);
    --sys-color-on-primary-container: var(--sys-color-primary90);

    --sys-color-secondary: var(--sys-color-secondary80);
    --sys-color-on-secondary: var(--sys-color-secondary20);
    --sys-color-secondary-container: var(--sys-color-secondary30);
    --sys-color-on-secondary-container: var(--sys-color-secondary90);

    --sys-color-tertiary: var(--sys-color-tertiary80);
    --sys-color-on-tertiary: var(--sys-color-tertiary20);
    --sys-color-tertiary-container: var(--sys-color-tertiary30);
    --sys-color-on-tertiary-container: var(--sys-color-tertiary90);

    /* --sys-color-background: var(--sys-color-neutral10); */
    --sys-color-background: var(--sys-color-neutral20);
    --sys-color-on-background: var(--sys-color-neutral90);

    --sys-color-surface: var(--sys-color-neutral10);
    --sys-color-on-surface: var(--sys-color-neutral90);

    --sys-color-surface-variant: var(--sys-color-neutral-variant30);
    --sys-color-on-surface-variant: var(--sys-color-neutral-variant80);
    --sys-color-surface-tint: var(--sys-color-primary80);

    --sys-color-outline: var(--sys-color-neutral-variant60);
    --sys-color-outline-variant: var(--sys-color-neutral-variant30);

    --sys-color-error: var(--sys-color-error80);
    --sys-color-error-container: var(--sys-color-error30);
    --sys-color-on-error: var(--sys-color-error20);
    --sys-color-on-error-container: var(--sys-color-error90);

    --sys-color-inverse-primary: var(--sys-color-primary40);
    --sys-color-inverse-surface: var(--sys-color-neutral90);
    --sys-color-inverse-on-surface: var(--sys-color-neutral10);

    --sys-color-shadow: #000;
    --sys-color-scrim: #000;
  }
}
