:root {
  --ref-palette-primary-hue: 256;
  --ref-palette-secondary-hue: 260; /* calc(var(--ref-palette-primary-hue) + 12); */
  --ref-palette-tertiary-hue: 340; /* calc(var(--ref-palette-primary-hue) + 70); */
  --ref-palette-neutral-hue: 342; /* calc(var(--ref-palette-primary-hue) + 20); */
  --ref-palette-neutral-variant-hue: 270; /* calc(var(--ref-palette-primary-hue) + 20); */
  --ref-palette-error-hue: 356;

  /* primary */
  --ref-palette-primary0: var(--ref-palette-primary-hue), 0%, 0%;
  --ref-palette-primary10: var(--ref-palette-primary-hue), 100%, 10%;
  --ref-palette-primary20: var(--ref-palette-primary-hue), 100%, 20%;
  --ref-palette-primary25: var(--ref-palette-primary-hue), 100%, 25%;
  --ref-palette-primary30: var(--ref-palette-primary-hue), 100%, 30%;
  --ref-palette-primary35: var(--ref-palette-primary-hue), 100%, 35%;
  --ref-palette-primary40: var(--ref-palette-primary-hue), 100%, 40%;
  --ref-palette-primary50: var(--ref-palette-primary-hue), 80%, 50%;
  --ref-palette-primary60: var(--ref-palette-primary-hue), 85%, 60%;
  --ref-palette-primary70: var(--ref-palette-primary-hue), 88%, 70%;
  --ref-palette-primary80: var(--ref-palette-primary-hue), 95%, 82%;
  --ref-palette-primary90: var(--ref-palette-primary-hue), 100%, 90%;
  --ref-palette-primary95: var(--ref-palette-primary-hue), 100%, 95%;
  --ref-palette-primary98: var(--ref-palette-primary-hue), 100%, 98%;
  --ref-palette-primary99: var(--ref-palette-primary-hue), 100%, 99%;
  --ref-palette-primary100: var(--ref-palette-primary-hue), 100%, 100%;

  /* secondary */
  --ref-palette-secondary0: var(--ref-palette-secondary-hue), 0%, 0%;
  --ref-palette-secondary10: var(--ref-palette-secondary-hue), 40%, 11%;
  --ref-palette-secondary20: var(--ref-palette-secondary-hue), 27%, 20%;
  --ref-palette-secondary25: var(--ref-palette-secondary-hue), 23%, 25%;
  --ref-palette-secondary30: var(--ref-palette-secondary-hue), 20%, 30%;
  --ref-palette-secondary35: var(--ref-palette-secondary-hue), 18%, 35%;
  --ref-palette-secondary40: var(--ref-palette-secondary-hue), 16%, 40%;
  --ref-palette-secondary50: var(--ref-palette-secondary-hue), 13%, 50%;
  --ref-palette-secondary60: var(--ref-palette-secondary-hue), 17%, 60%;
  --ref-palette-secondary70: var(--ref-palette-secondary-hue), 24%, 70%;
  --ref-palette-secondary80: var(--ref-palette-secondary-hue), 40%, 80%;
  --ref-palette-secondary90: var(--ref-palette-secondary-hue), 70%, 90%;
  --ref-palette-secondary95: var(--ref-palette-secondary-hue), 100%, 95%;
  --ref-palette-secondary98: var(--ref-palette-secondary-hue), 100%, 98%;
  --ref-palette-secondary99: var(--ref-palette-secondary-hue), 100%, 99%;
  --ref-palette-secondary100: var(--ref-palette-secondary-hue), 100%, 100%;

  /* tertiary */
  --ref-palette-tertiary0: var(--ref-palette-tertiary-hue), 0%, 0%;
  --ref-palette-tertiary10: var(--ref-palette-tertiary-hue), 40%, 11%;
  --ref-palette-tertiary20: var(--ref-palette-tertiary-hue), 27%, 20%;
  --ref-palette-tertiary25: var(--ref-palette-tertiary-hue), 23%, 25%;
  --ref-palette-tertiary30: var(--ref-palette-tertiary-hue), 20%, 30%;
  --ref-palette-tertiary35: var(--ref-palette-tertiary-hue), 18%, 35%;
  --ref-palette-tertiary40: var(--ref-palette-tertiary-hue), 16%, 40%;
  --ref-palette-tertiary50: var(--ref-palette-tertiary-hue), 13%, 50%;
  --ref-palette-tertiary60: var(--ref-palette-tertiary-hue), 17%, 60%;
  --ref-palette-tertiary70: var(--ref-palette-tertiary-hue), 24%, 70%;
  --ref-palette-tertiary80: var(--ref-palette-tertiary-hue), 40%, 80%;
  --ref-palette-tertiary90: var(--ref-palette-tertiary-hue), 70%, 90%;
  --ref-palette-tertiary95: var(--ref-palette-tertiary-hue), 100%, 95%;
  --ref-palette-tertiary98: var(--ref-palette-tertiary-hue), 100%, 98%;
  --ref-palette-tertiary99: var(--ref-palette-tertiary-hue), 100%, 99%;
  --ref-palette-tertiary100: var(--ref-palette-tertiary-hue), 100%, 100%;

  /* neutral */
  --ref-palette-neutral0: var(--ref-palette-neutral-hue), 0%, 0%;
  --ref-palette-neutral10: var(--ref-palette-neutral-hue), 7%, 11%;
  --ref-palette-neutral20: var(--ref-palette-neutral-hue), 4%, 19%;
  --ref-palette-neutral25: var(--ref-palette-neutral-hue), 3%, 24%;
  --ref-palette-neutral30: var(--ref-palette-neutral-hue), 3%, 28%;
  --ref-palette-neutral35: var(--ref-palette-neutral-hue), 3%, 33%;
  --ref-palette-neutral40: var(--ref-palette-neutral-hue), 3%, 37%;
  --ref-palette-neutral50: var(--ref-palette-neutral-hue), 2%, 47%;
  --ref-palette-neutral60: var(--ref-palette-neutral-hue), 2%, 57%;
  --ref-palette-neutral70: var(--ref-palette-neutral-hue), 2%, 68%;
  --ref-palette-neutral80: var(--ref-palette-neutral-hue), 4%, 78%;
  --ref-palette-neutral90: var(--ref-palette-neutral-hue), 7%, 89%;
  --ref-palette-neutral95: var(--ref-palette-neutral-hue), 15%, 95%;
  --ref-palette-neutral98: var(--ref-palette-neutral-hue), 50%, 98%;
  --ref-palette-neutral99: var(--ref-palette-neutral-hue), 100%, 99%;
  --ref-palette-neutral100: var(--ref-palette-neutral-hue), 100%, 100%;

  /* neutral-variant */
  --ref-palette-neutral-variant0: var(--ref-palette-neutral-variant-hue), 0%, 0%;
  --ref-palette-neutral-variant10: var(--ref-palette-neutral-variant-hue), 17%, 11%;
  --ref-palette-neutral-variant20: var(--ref-palette-neutral-variant-hue), 11%, 20%;
  --ref-palette-neutral-variant25: var(--ref-palette-neutral-variant-hue), 9%, 24%;
  --ref-palette-neutral-variant30: var(--ref-palette-neutral-variant-hue), 8%, 28%;
  --ref-palette-neutral-variant35: var(--ref-palette-neutral-variant-hue), 7%, 33%;
  --ref-palette-neutral-variant40: var(--ref-palette-neutral-variant-hue), 6%, 38%;
  --ref-palette-neutral-variant50: var(--ref-palette-neutral-variant-hue), 5%, 48%;
  --ref-palette-neutral-variant60: var(--ref-palette-neutral-variant-hue), 5.6%, 58%;
  --ref-palette-neutral-variant70: var(--ref-palette-neutral-variant-hue), 7.4%, 68%;
  --ref-palette-neutral-variant80: var(--ref-palette-neutral-variant-hue), 11.1%, 79%;
  --ref-palette-neutral-variant90: var(--ref-palette-neutral-variant-hue), 23.1%, 90%;
  --ref-palette-neutral-variant95: var(--ref-palette-neutral-variant-hue), 54.5%, 95%;
  --ref-palette-neutral-variant98: var(--ref-palette-neutral-variant-hue), 100%, 98%;
  --ref-palette-neutral-variant99: var(--ref-palette-neutral-variant-hue), 100%, 99%;
  --ref-palette-neutral-variant100: var(--ref-palette-neutral-variant-hue), 100%, 100%;

  /* error */
  --ref-palette-error0: var(--ref-palette-error-hue), 0%, 0%;
  --ref-palette-error10: var(--ref-palette-error-hue), 100%, 13%;
  --ref-palette-error20: var(--ref-palette-error-hue), 100%, 21%;
  --ref-palette-error25: var(--ref-palette-error-hue), 100%, 25%;
  --ref-palette-error30: var(--ref-palette-error-hue), 100%, 29%;
  --ref-palette-error35: var(--ref-palette-error-hue), 92%, 34%;
  --ref-palette-error40: var(--ref-palette-error-hue), 75%, 42%;
  --ref-palette-error50: var(--ref-palette-error-hue), 73%, 53%;
  --ref-palette-error60: var(--ref-palette-error-hue), 100%, 64%;
  --ref-palette-error70: var(--ref-palette-error-hue), 100%, 75%;
  --ref-palette-error80: var(--ref-palette-error-hue), 100%, 84%;
  --ref-palette-error90: var(--ref-palette-error-hue), 100%, 91%;
  --ref-palette-error95: var(--ref-palette-error-hue), 100%, 95%;
  --ref-palette-error98: var(--ref-palette-error-hue), 100%, 98%;
  --ref-palette-error99: var(--ref-palette-error-hue), 100%, 99%;
  --ref-palette-error100: var(--ref-palette-error-hue), 100%, 100%;
}

:root {
  /* theme light */
  --sys-color-primary-hsl: var(--ref-palette-primary40);
  --sys-color-on-primary-hsl: var(--ref-palette-primary100);
  --sys-color-primary-container-hsl: var(--ref-palette-primary90);
  --sys-color-on-primary-container-hsl: var(--ref-palette-primary10);

  --sys-color-secondary-hsl: var(--ref-palette-secondary40);
  --sys-color-on-secondary-hsl: var(--ref-palette-secondary100);
  --sys-color-secondary-container-hsl: var(--ref-palette-secondary90);
  --sys-color-on-secondary-container-hsl: var(--ref-palette-secondary10);

  --sys-color-tertiary-hsl: var(--ref-palette-tertiary40);
  --sys-color-on-tertiary-hsl: var(--ref-palette-tertiary100);
  --sys-color-tertiary-container-hsl: var(--ref-palette-tertiary90);
  --sys-color-on-tertiary-container-hsl: var(--ref-palette-tertiary10);

  --sys-color-background-hsl: var(--ref-palette-neutral98);
  /* --sys-color-background-hsl: var(--ref-palette-neutral95); */
  --sys-color-on-background-hsl: var(--ref-palette-neutral10);

  --sys-color-surface-hsl: var(--ref-palette-neutral99);
  --sys-color-on-surface-hsl: var(--ref-palette-neutral10);

  --sys-color-surface-variant-hsl: var(--ref-palette-neutral-variant90);
  --sys-color-on-surface-variant-hsl: var(--ref-palette-neutral-variant30);

  --sys-color-outline-hsl: var(--ref-palette-neutral-variant50);
  --sys-color-outline-variant-hsl: var(--ref-palette-neutral-variant80);

  --sys-color-error-hsl: var(--ref-palette-error40);
  --sys-color-error-container-hsl: var(--ref-palette-error90);
  --sys-color-on-error-hsl: var(--ref-palette-error100);
  --sys-color-on-error-container-hsl: var(--ref-palette-error10);

  --sys-color-inverse-primary-hsl: var(--ref-palette-primary80);
  --sys-color-inverse-surface-hsl: var(--ref-palette-neutral20);
  --sys-color-inverse-on-surface-hsl: var(--ref-palette-neutral95);

  --sys-color-surface-tint-hsl: var(--sys-color-primary);
  --sys-color-shadow-hsl: var(--ref-palette-neutral0);
  --sys-color-scrim-hsl: var(--ref-palette-neutral0);

  /* make colors from hsl vars */
  --sys-color-primary: hsl(var(--sys-color-primary-hsl));
  --sys-color-on-primary: hsl(var(--sys-color-on-primary-hsl));
  --sys-color-primary-container: hsl(var(--sys-color-primary-container-hsl));
  --sys-color-on-primary-container: hsl(var(--sys-color-on-primary-container-hsl));

  --sys-color-secondary: hsl(var(--sys-color-secondary-hsl));
  --sys-color-on-secondary: hsl(var(--sys-color-on-secondary-hsl));
  --sys-color-secondary-container: hsl(var(--sys-color-secondary-container-hsl));
  --sys-color-on-secondary-container: hsl(var(--sys-color-on-secondary-container-hsl));

  --sys-color-tertiary: hsl(var(--sys-color-tertiary-hsl));
  --sys-color-on-tertiary: hsl(var(--sys-color-on-tertiary-hsl));
  --sys-color-tertiary-container: hsl(var(--sys-color-tertiary-container-hsl));
  --sys-color-on-tertiary-container: hsl(var(--sys-color-on-tertiary-container-hsl));

  --sys-color-background: hsl(var(--sys-color-background-hsl));
  --sys-color-on-background: hsl(var(--sys-color-on-background-hsl));

  --sys-color-surface: hsl(var(--sys-color-surface-hsl));
  --sys-color-on-surface: hsl(var(--sys-color-on-surface-hsl));

  --sys-color-surface-variant: hsl(var(--sys-color-surface-variant-hsl));
  --sys-color-on-surface-variant: hsl(var(--sys-color-on-surface-variant-hsl));

  --sys-color-outline: hsl(var(--sys-color-outline-hsl));
  --sys-color-outline-variant: hsl(var(--sys-color-outline-variant-hsl));

  --sys-color-error: hsl(var(--sys-color-error-hsl));
  --sys-color-error-container: hsl(var(--sys-color-error-container-hsl));
  --sys-color-on-error: hsl(var(--sys-color-on-error-hsl));
  --sys-color-on-error-container: hsl(var(--sys-color-on-error-container-hsl));

  --sys-color-inverse-primary: hsl(var(--sys-color-inverse-primary-hsl));
  --sys-color-inverse-surface: hsl(var(--sys-color-inverse-surface-hsl));
  --sys-color-inverse-on-surface: hsl(var(--sys-color-inverse-on-surface-hsl));

  --sys-color-surface-tint: hsl(var(--sys-color-surface-tint-hsl));
  --sys-color-shadow: hsl(var(--sys-color-shadow-hsl));
  --sys-color-scrim: hsl(var(--sys-color-scrim-hsl));
}

@media (prefers-color-scheme: dark) {
  :root {
    /* theme dark */
    --sys-color-primary-hsl: var(--ref-palette-primary80);
    --sys-color-on-primary-hsl: var(--ref-palette-primary20);
    --sys-color-primary-container-hsl: var(--ref-palette-primary30);
    --sys-color-on-primary-container-hsl: var(--ref-palette-primary90);

    --sys-color-secondary-hsl: var(--ref-palette-secondary80);
    --sys-color-on-secondary-hsl: var(--ref-palette-secondary20);
    --sys-color-secondary-container-hsl: var(--ref-palette-secondary30);
    --sys-color-on-secondary-container-hsl: var(--ref-palette-secondary90);

    --sys-color-tertiary-hsl: var(--ref-palette-tertiary80);
    --sys-color-on-tertiary-hsl: var(--ref-palette-tertiary20);
    --sys-color-tertiary-container-hsl: var(--ref-palette-tertiary30);
    --sys-color-on-tertiary-container-hsl: var(--ref-palette-tertiary90);

    --sys-color-background-hsl: var(--ref-palette-neutral10);
    /* --sys-color-background-hsl: var(--ref-palette-neutral20); */
    --sys-color-on-background-hsl: var(--ref-palette-neutral90);

    --sys-color-surface-hsl: var(--ref-palette-neutral10);
    --sys-color-on-surface-hsl: var(--ref-palette-neutral90);

    --sys-color-surface-variant-hsl: var(--ref-palette-neutral-variant30);
    --sys-color-on-surface-variant-hsl: var(--ref-palette-neutral-variant80);

    --sys-color-outline-hsl: var(--ref-palette-neutral-variant60);
    --sys-color-outline-variant-hsl: var(--ref-palette-neutral-variant30);

    --sys-color-error-hsl: var(--ref-palette-error80);
    --sys-color-error-container-hsl: var(--ref-palette-error30);
    --sys-color-on-error-hsl: var(--ref-palette-error20);
    --sys-color-on-error-container-hsl: var(--ref-palette-error90);

    --sys-color-inverse-primary-hsl: var(--ref-palette-primary40);
    --sys-color-inverse-surface-hsl: var(--ref-palette-neutral90);
    --sys-color-inverse-on-surface-hsl: var(--ref-palette-neutral20);
  }
}
