:root {
  --sys-scrollbar-background: transparent;
  --sys-scrollbar-color: var(--ref-palette-neutral-variant50);
  --sys-scrollbar-color-hover: var(--ref-palette-neutral-variant30);
  --sys-scrollbar-size: 3px;
  --sys-scrollbar-radius: calc(var(--sys-scrollbar-size) / 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --sys-scrollbar-color-hover: var(--ref-palette-neutral-variant60);
  }
}
