:root {
  --alwatr-scrollbar-size: var(--alwatr-sys-spacing-track-1);
  --alwatr-scrollbar-background: transparent;
  --alwatr-scrollbar-color: var(--alwatr-sys-color-secondary);
  --alwatr-scrollbar-color-hover: var(--alwatr-sys-color-secondary);
  --alwatr-scrollbar-radius: 0;
}
