/* https://material.io/design/layout/spacing-methods.html */
:root {
  --alwatr-sys-spacing-track: 8px;
  --alwatr-sys-spacing-track-1: var(--alwatr-sys-spacing-track);
  --alwatr-sys-spacing-track-2: calc(2 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-3: calc(3 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-4: calc(4 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-5: calc(5 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-6: calc(6 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-7: calc(7 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-8: calc(8 * var(--alwatr-sys-spacing-track));
  --alwatr-sys-spacing-track-9: calc(9 * var(--alwatr-sys-spacing-track));

  --alwatr-sys-spacing-halftrack: calc(var(--alwatr-sys-spacing-track) / 2);
  --alwatr-sys-spacing-halftrack-1: var(--alwatr-sys-spacing-halftrack);
  --alwatr-sys-spacing-halftrack-2: calc(2 * var(--alwatr-sys-spacing-halftrack));
  --alwatr-sys-spacing-halftrack-3: calc(3 * var(--alwatr-sys-spacing-halftrack));
  --alwatr-sys-spacing-halftrack-4: calc(4 * var(--alwatr-sys-spacing-halftrack));
  --alwatr-sys-spacing-halftrack-5: calc(5 * var(--alwatr-sys-spacing-halftrack));
  --alwatr-sys-spacing-halftrack-6: calc(6 * var(--alwatr-sys-spacing-halftrack));

  --alwatr-sys-breakpoint-handset: 600px;
  --alwatr-sys-breakpoint-tablet: 840px;
  --alwatr-sys-breakpoint-laptop: 1240px;
  --alwatr-sys-breakpoint-large-screen: 1440px;

  --alwatr-sys-spacing-column-1: calc(
    (100vw - var(--alwatr-sys-spacing-side-padding) * 2 - var(--alwatr-sys-spacing-gutter) * (var(--alwatr-sys-column-count) - 1))
    / var(--alwatr-sys-column-count)
  );
  --alwatr-sys-spacing-column-2: calc(var(--alwatr-sys-spacing-column-1) * 2 + var(--alwatr-sys-spacing-gutter));
  --alwatr-sys-spacing-column-3: calc(var(--alwatr-sys-spacing-column-1) * 3 + var(--alwatr-sys-spacing-gutter) * 2);
  --alwatr-sys-spacing-column-4: calc(var(--alwatr-sys-spacing-column-1) * 4 + var(--alwatr-sys-spacing-gutter) * 3);

  /* < 600px */
  --alwatr-sys-column-count: 4;
  --alwatr-sys-spacing-side-padding: var(--alwatr-sys-spacing-track-1);
  --alwatr-sys-spacing-gutter: var(--alwatr-sys-spacing-track-2);
}

/* >= 600 */
@media only screen and (min-width: 600px) {
  :root {
    --alwatr-sys-column-count: 8;
    --alwatr-sys-spacing-side-padding: var(--alwatr-sys-spacing-track-3);
    --alwatr-sys-spacing-gutter: var(--alwatr-sys-spacing-track-3);
  }
}

/* >= 840px */
@media only screen and (min-width: 840px) {
  :root {
    --alwatr-sys-column-count: 12;
    /* --alwatr-sys-spacing-side-padding: var(--alwatr-sys-spacing-track-3);
    --alwatr-sys-spacing-gutter: var(--alwatr-sys-spacing-track-3); */
  }
}

/* >= 1200px */
@media only screen and (min-width: 1200px) {
  :root {
    /* --alwatr-sys-column-count: 12; */
    --alwatr-sys-spacing-side-padding: var(--alwatr-sys-spacing-track-4);
    --alwatr-sys-spacing-gutter: var(--alwatr-sys-spacing-track-4);
  }
}

/* >= 1440px */
/* @media only screen and (min-width: 1440px) {
  :root {
    --alwatr-sys-column-count: 12;
    --alwatr-sys-spacing-side-padding: var(--alwatr-sys-spacing-track-4);
    --alwatr-sys-spacing-gutter: var(--alwatr-sys-spacing-track-4);
  }
} */
