:root {
  /* Dragged state layer opacity */
  --sys-opacity-dragged: 0.2;
  /* Pressed state layer opacity */
  --sys-opacity-pressed: 0.15;
  /* Focus state layer opacity */
  --sys-opacity-focus: 0.15;
  /* Hover state layer opacity */
  --sys-opacity-hover: 0.09;
}
