:root {
  /* references */
  --alwatr-ref-font-family-system:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    'Helvetica Neue',
    'Arial',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol'
  ;
  --alwatr-ref-font-weight-bold: 700;
  --alwatr-ref-font-weight-medium: 500;
  --alwatr-ref-font-weight-regular: 400;
  --alwatr-sys-font-family-plain: var(--font-vazirmatn), var(--alwatr-ref-font-family-system);
  --alwatr-sys-font-family-brand: var(--font-vazirmatn), var(--alwatr-ref-font-family-system);
  /* display - large */
  --alwatr-sys-typescale-display-large-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-display-large-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-display-large-font-size: 57px;
  --alwatr-sys-typescale-display-large-line-height: 64px;
  --alwatr-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --alwatr-sys-typescale-display-medium-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-display-medium-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-display-medium-font-size: 45px;
  --alwatr-sys-typescale-display-medium-line-height: 52px;
  --alwatr-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --alwatr-sys-typescale-display-small-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-display-small-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-display-small-font-size: 36px;
  --alwatr-sys-typescale-display-small-line-height: 44px;
  --alwatr-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --alwatr-sys-typescale-headline-large-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-headline-large-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-headline-large-font-size: 32px;
  --alwatr-sys-typescale-headline-large-line-height: 40px;
  --alwatr-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --alwatr-sys-typescale-headline-medium-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-headline-medium-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-headline-medium-font-size: 28px;
  --alwatr-sys-typescale-headline-medium-line-height: 36px;
  --alwatr-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --alwatr-sys-typescale-headline-small-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-headline-small-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-headline-small-font-size: 24px;
  --alwatr-sys-typescale-headline-small-line-height: 32px;
  --alwatr-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --alwatr-sys-typescale-body-large-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-body-large-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-body-large-font-size: 16px;
  --alwatr-sys-typescale-body-large-line-height: 24px;
  --alwatr-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --alwatr-sys-typescale-body-medium-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-body-medium-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-body-medium-font-size: 14px;
  --alwatr-sys-typescale-body-medium-line-height: 20px;
  --alwatr-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --alwatr-sys-typescale-body-small-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-body-small-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-body-small-font-size: 12px;
  --alwatr-sys-typescale-body-small-line-height: 16px;
  --alwatr-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --alwatr-sys-typescale-label-large-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-label-large-font-weight: var(--alwatr-ref-font-weight-medium);
  --alwatr-sys-typescale-label-large-font-size: 14px;
  --alwatr-sys-typescale-label-large-line-height: 20px;
  --alwatr-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --alwatr-sys-typescale-label-medium-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-label-medium-font-weight: var(--alwatr-ref-font-weight-medium);
  --alwatr-sys-typescale-label-medium-font-size: 12px;
  --alwatr-sys-typescale-label-medium-line-height: 16px;
  --alwatr-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --alwatr-sys-typescale-label-small-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-label-small-font-weight: var(--alwatr-ref-font-weight-medium);
  --alwatr-sys-typescale-label-small-font-size: 11px;
  --alwatr-sys-typescale-label-small-line-height: 16px;
  --alwatr-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --alwatr-sys-typescale-title-large-font-family-name: var(--alwatr-sys-font-family-brand);
  --alwatr-sys-typescale-title-large-font-weight: var(--alwatr-ref-font-weight-regular);
  --alwatr-sys-typescale-title-large-font-size: 22px;
  --alwatr-sys-typescale-title-large-line-height: 28px;
  --alwatr-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --alwatr-sys-typescale-title-medium-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-title-medium-font-weight: var(--alwatr-ref-font-weight-medium);
  --alwatr-sys-typescale-title-medium-font-size: 16px;
  --alwatr-sys-typescale-title-medium-line-height: 24px;
  --alwatr-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --alwatr-sys-typescale-title-small-font-family-name: var(--alwatr-sys-font-family-plain);
  --alwatr-sys-typescale-title-small-font-weight: var(--alwatr-ref-font-weight-medium);
  --alwatr-sys-typescale-title-small-font-size: 14px;
  --alwatr-sys-typescale-title-small-line-height: 20px;
  --alwatr-sys-typescale-title-small-letter-spacing: 0.10px;
}
