/******** Vazirmatn ********/
@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn Thin"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-Thin.woff2') format('woff2')
  ;
  font-weight: 100;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn ExtraLight"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-ExtraLight.woff2') format('woff2')
  ;
  font-weight: 200;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn Light"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-Light.woff2') format('woff2')
  ;
  font-weight: 300;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2')
  ;
  font-weight: 400;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn Medium"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2')
  ;
  font-weight: 500;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn SemiBold"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-SemiBold.woff2') format('woff2')
  ;
  font-weight: 600;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2')
  ;
  font-weight: 700;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn ExtraBold"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-ExtraBold.woff2') format('woff2')
  ;
  font-weight: 800;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Vazirmatn;
  src:
    local("Vazirmatn Black"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn/fonts/webfonts/Vazirmatn-Black.woff2') format('woff2')
  ;
  font-weight: 900;
  font-style: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}


/******** Vazirmatn ********/
@font-face {
  font-family: Sahel;
  src:
    local("Sahel"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel.woff2') format('woff2')
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel.woff') format('woff')
  ;
  font-weight: normal;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Sahel;
  src:
    local("Sahel"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-Bold.woff') format('woff')
  ;
  font-weight: bold;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Sahel;
  src:
    local("Sahel Light"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-Light.woff') format('woff')
  ;
  font-weight: 300;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Sahel;
  src:
    local("Sahel SemiBold"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-SemiBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-SemiBold.woff') format('woff')
  ;
  font-weight: 600;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}

@font-face {
  font-family: Sahel;
  src:
    local("Sahel Black"),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-VF.woff2') format('woff2-variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-Black.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/sahel-font/dist/Sahel-Black.woff') format('woff')
  ;
  font-weight: 900;
  font-display: block;
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF, U+1EE00-1EEFF;
}
