<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
  <base href="/" />

  <meta charset="utf-8" />
  <title>
    {{ block "title" . }}
    {{ .Site.Title }}
    {{ end }}
  </title>

  <meta name="color-scheme" content="light dark" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ .Site.Params.LightThemeColorSchema }}" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ .Site.Params.DarkThemeColorSchema }}" />

  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400italic,500,600,700,700italic,900" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400italic,500,600,700,700italic,900" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,400italic,500,600,700,700italic,900" />
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/structure.css" />
  <link rel="stylesheet" href="css/renovate4.css" />
  <link rel="stylesheet" href="plugins/rs-plugin-6.custom/css/rs6.css" />
</head>

<body class="home page template-slider style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-transparent header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">

  <div id="Wrapper">
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}

    {{ block "content" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}
  </div>

  {{ block "side-slide" . }}
  {{ partial "side-slide" . }}
  {{ end }}
  <div id="body_overlay"></div>

  {{ block "script" . }}
  {{ partial "base-script" . }}
  {{ end }}

</body>

</html>
