<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <title>..:: KEEP ::..</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- FONTS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400italic,500,600,700,700italic,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,400italic,500,600,700,700italic,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa:100,200,300,400,400italic,500,600,700,700italic,900"
    />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!--CSS -->
    <link rel="stylesheet" href="css/structure.css" />
    <link rel="stylesheet" href="css/renovate4.css" />
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="plugins/rs-plugin-6.custom/css/rs6.css" />
  </head>

  <body
    class="home page template-slider style-simple button-custom layout-full-width if-zoom if-border-hide no-content-padding header-transparent header-fw sticky-header sticky-tb-color ab-hide subheader-both-center menuo-right menuo-no-borders mobile-tb-center mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky"
  >
    <div id="Wrapper">
      <div id="Header_wrapper">
        <header id="Header">
          <div id="Top_bar">
            <div class="row">
              <div class="column one">
                <div class="top_bar_left clearfix">
                  <div class="logo">
                    <a
                      id="logo"
                      href="/"
                      title="BeRenovate 4 - Betheme"
                      data-height="60"
                      data-padding="15"
                      ><img
                        class="logo-main scale-with-grid"
                        src="images/keep.svg"
                        data-height="58"
                        alt="renovate4_logo"
                        data-no-retina /><img
                        class="logo-sticky scale-with-grid"
                        src="images/keep.svg"
                        data-height="58"
                        alt="renovate4_logo"
                        data-no-retina /><img
                        class="logo-mobile scale-with-grid"
                        src="images/keep.svg"
                        data-height="58"
                        alt="renovate4_logo"
                        data-no-retina /><img
                        class="logo-mobile-sticky scale-with-grid"
                        src="images/keep.svg"
                        data-height="58"
                        alt="renovate4_logo"
                        data-no-retina
                    /></a>
                  </div>
                  <div class="menu_wrapper">
                    <nav id="menu">
                      <ul id="menu-main-menu" class="menu menu-main">
                        <li
                          class="current-menu-item page_item current_page_item"
                        >
                          <a href="/"><span>Home</span></a>
                        </li>
                        <li>
                          <a href="about.html"><span>About us</span></a>
                        </li>
                        <li>
                          <a href="realizations.html"
                            ><span>Realizations</span></a
                          >
                        </li>
                        <li>
                          <a href="services-pricing.html"
                            ><span>Services &amp; Pricing</span></a
                          >
                        </li>
                        <li>
                          <a href="contact.html"><span>Contact</span></a>
                        </li>
                      </ul>
                    </nav>
                    <a class="responsive-menu-toggle" href="#"
                      ><i class="icon-menu-fine"></i
                    ></a>
                  </div>
                </div>
                <div class="top_bar_right">
                  <div class="top_bar_right_wrapper">
                    <a
                      href="tel:+989151011507"
                      class="action_button"
                      target="_blank"
                      >Call</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mfn-main-slider mfn-rev-slider">
            <!-- START Home Renovate4 REVOLUTION SLIDER 6.3.6 -->
            <p class="rs-p-wp-fix"></p>
            <rs-module-wrap
              id="rev_slider_1_1_wrapper"
              data-source="gallery"
              style="
                background: transparent;
                padding: 0;
                margin: 0px auto;
                margin-top: 0;
                margin-bottom: 0;
              "
            >
              <rs-module id="rev_slider_1_1" data-version="6.3.6">
                <rs-slides>
                  <rs-slide
                    data-key="rs-1"
                    data-title="Slide"
                    data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;"
                  >
                    <img src="images/reno4-slider-bg.png" class="rev-slidebg" />
                    <!--
										-->
                    <rs-layer
                      id="slider-1-slide-1-layer-0"
                      data-type="text"
                      data-color="#10293d"
                      data-rsp_ch="on"
                      data-xy="x:l,l,c,c;xo:80px,80px,1px,1px;y:m;yo:-146px,-146px,-190px,-190px;"
                      data-text="w:normal;s:70,70,84,84;l:80,80,77,77;fw:700;"
                      data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_999="o:0;st:w;"
                      style="z-index: 9; font-family: Comfortaa"
                    >
                      From A to Z <br />
                      renovation
                    </rs-layer>
                    <!--

										--><a
                      id="slider-1-slide-1-layer-1"
                      class="rs-layer"
                      href="#"
                      target="_self"
                      rel="nofollow"
                      data-type="text"
                      data-color="rgba(16, 41, 61, 0.79)"
                      data-rsp_ch="on"
                      data-xy="x:l,l,c,c;xo:259px,259px,-70px,-70px;y:m,m,b,b;yo:245px,245px,50px,50px;"
                      data-text="w:normal;s:17,17,16,16;l:50,50,48,48;a:center;"
                      data-dim="w:50px,50px,48px,48px;"
                      data-border="bor:25px,25px,25px,25px;"
                      data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_999="o:0;st:w;"
                      style="
                        z-index: 14;
                        background-color: #f2f2f2;
                        font-family: Open Sans;
                        cursor: pointer;
                      "
                      ><i class="icon-facebook"></i>
                    </a>
                    <!--

										--><a
                      id="slider-1-slide-1-layer-2"
                      class="rs-layer rev-btn"
                      href="contact.html"
                      target="_self"
                      rel="nofollow"
                      data-type="button"
                      data-color="#10293d"
                      data-rsp_ch="on"
                      data-xy="x:l,l,c,c;xo:78px,78px,0,78px;yo:539px,539px,309px,309px;"
                      data-text="w:normal;s:16,16,18,18;l:40,40,52,52;fw:700;"
                      data-dim="minh:0px,0px,none,0px;"
                      data-padding="t:4;r:40,40,52,52;b:4;l:40,40,52,52;"
                      data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_999="o:0;st:w;"
                      data-frame_hover="c:#fff;bgc:#10293d;bor:0px,0px,0px,0px;bri:120%;"
                      style="
                        z-index: 15;
                        background-color: #ffd800;
                        font-family: Open Sans;
                      "
                      >Hire us today
                    </a>
                    <!--

										-->
                    <rs-layer
                      id="slider-1-slide-1-layer-3"
                      data-type="shape"
                      data-rsp_ch="on"
                      data-xy="xo:80px,80px,67px,67px;yo:640px,640px,470px,470px;"
                      data-text="w:normal;s:20,20,12,12;l:0,0,15,15;"
                      data-dim="w:400px,400px,250px,250px;h:2px,2px,1px,1px;"
                      data-vbility="t,t,f,f"
                      data-frame_999="o:0;st:w;"
                      style="z-index: 16; background-color: #dadada"
                    ></rs-layer>
                    <!--

										-->
                    <rs-layer
                      id="slider-1-slide-1-layer-5"
                      data-type="text"
                      data-color="#10293d"
                      data-rsp_ch="on"
                      data-xy="xo:80px,80px,58px,58px;y:m;yo:-2px,-2px,-26px,-26px;"
                      data-text="w:normal;s:16,16,9,9;l:26,26,15,15;"
                      data-dim="w:478px,478px,299px,299px;"
                      data-vbility="t,t,f,f"
                      data-frame_999="o:0;st:w;"
                      style="z-index: 10; font-family: Open Sans"
                    >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua maecenas accumsan lacus vel facilisis.
                    </rs-layer>
                    <!--

										-->
                    <rs-layer
                      id="slider-1-slide-1-layer-7"
                      data-type="text"
                      data-color="rgba(16, 41, 61, 0.79)"
                      data-rsp_ch="on"
                      data-xy="xo:80px,80px,60px,60px;y:m;yo:245px,245px,45px,45px;"
                      data-text="w:normal;s:15,15,13,13;l:23,23,18,18;"
                      data-dim="w:150px,150px,132px,132px;"
                      data-vbility="t,t,f,f"
                      data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_999="o:0;st:w;"
                      style="z-index: 11; font-family: Open Sans"
                    >
                      Find more about us <br />
                      on our funpages
                    </rs-layer>
                    <!--

										--><a
                      id="slider-1-slide-1-layer-8"
                      class="rs-layer"
                      href="#"
                      target="_self"
                      rel="nofollow"
                      data-type="text"
                      data-color="rgba(16, 41, 61, 0.79)"
                      data-rsp_ch="on"
                      data-xy="x:l,l,c,c;xo:379px,379px,71px,71px;y:m,m,b,b;yo:245px,245px,50px,50px;"
                      data-text="w:normal;s:17,17,16,16;l:50;a:center;"
                      data-dim="w:50px;"
                      data-border="bor:25px,25px,25px,25px;"
                      data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_999="o:0;st:w;"
                      style="
                        z-index: 13;
                        background-color: #f2f2f2;
                        font-family: Open Sans;
                        cursor: pointer;
                      "
                      ><i class="icon-pinterest"></i>
                    </a>
                    <!--

										--><a
                      id="slider-1-slide-1-layer-9"
                      class="rs-layer"
                      href="#"
                      target="_self"
                      rel="nofollow"
                      data-type="text"
                      data-color="rgba(16, 41, 61, 0.79)"
                      data-rsp_ch="on"
                      data-xy="x:l,l,c,c;xo:319px,319px,0,319px;y:m,m,b,b;yo:245px,245px,50px,50px;"
                      data-text="w:normal;s:17,17,16,16;l:50,50,49,49;a:center;"
                      data-dim="w:50px,50px,49px,49px;"
                      data-border="bor:25px,25px,25px,25px;"
                      data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;"
                      data-frame_999="o:0;st:w;"
                      style="
                        z-index: 12;
                        background-color: #f2f2f2;
                        font-family: Open Sans;
                        cursor: pointer;
                      "
                      ><i class="icon-instagram"></i>
                    </a>
                    <!--

										-->
                    <rs-layer
                      id="slider-1-slide-1-layer-10"
                      data-type="shape"
                      data-rsp_ch="on"
                      data-xy="xo:50px,50px,0,50px;yo:224px,224px,0,224px;"
                      data-text="w:normal;s:20,20,12,12;l:0,0,15,15;"
                      data-dim="w:300px,300px,100%,100%;h:180px,180px,100%,100%;"
                      data-vbility="f,f,t,t"
                      data-frame_999="o:0;st:w;"
                      style="
                        z-index: 8;
                        background-color: rgba(255, 255, 255, 0.25);
                      "
                    ></rs-layer>
                    <!--
										-->
                  </rs-slide>
                </rs-slides>
              </rs-module>
            </rs-module-wrap>
            <!-- END REVOLUTION SLIDER -->
          </div>
        </header>
      </div>
      <div id="Content">
        <div
          class="section mcb-section no-margin-h equal-height-wrap bg-cover"
          style="
            padding-bottom: 50px;
            background-image: url(images/reno4-home-homes-bg.png);
            background-repeat: no-repeat;
            background-position: center top;
          "
        >
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-6">
                <img
                  src="images/reno4-home-team.png"
                  alt="reno4-home-team"
                  title=""
                  width="780"
                  height="780"
                />
              </div>
              <div
                class="col-md-6"
                style="
                  padding: 50px 6%;
                  background-color: #ffd800;
                  background-image: url(images/reno4-smallbg-1.png);
                  background-repeat: no-repeat;
                  background-position: right bottom;
                "
              >
                <h3>
                  We offer a wide variety of services for office spaces. We will
                  help you create a great looking work area for high
                  productivity.
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua
                  maecenas accumsan lacus vel facilisis.
                </p>
                <hr class="no_line" style="margin: 0 auto 20px" />
                <a class="button button_size_2" href="#"
                  ><span class="button_label">About us</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="section" style="padding-top: 50px; padding-bottom: 30px">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="text-left mobile_align_center">
                  <h2>
                    We have a vast offer that
                    <br />
                    covers all renovation needs
                  </h2>
                </div>
              </div>
              <div class="col-12">
                <hr class="no_line" style="margin: 0 auto 50px" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="padding: 0px 2%">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="images/reno4-home-icon1.png"
                      alt="reno4-home-icon1"
                      title=""
                      width="780"
                      height="780"
                    />
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h3>Construction</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        seagna aliqua maecenas accum lacus vel facilisis.
                      </p>
                      <h5>
                        Prices from
                        <span style="border-bottom: 2px solid #ffd800"
                          >$30/m<sup>2</sup></span
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0px 2%">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="images/reno4-home-icon2.png"
                      alt="reno4-home-icon2"
                      title=""
                      width="780"
                      height="780"
                    />
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h3>Electrics</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        seagna aliqua maecenas accum lacus vel facilisis.
                      </p>
                      <h5>
                        Prices from
                        <span style="border-bottom: 2px solid #ffd800"
                          >$25/point</span
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="padding: 0px 2%">
                <div class="row">
                  <div class="col-md-8">
                    <img
                      src="images/reno4-home-icon3.png"
                      alt="reno4-home-icon3"
                      title=""
                      width="780"
                      height="780"
                    />
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h3>Plumbing</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        seagna aliqua maecenas accum lacus vel facilisis.
                      </p>
                      <h5>
                        Prices from
                        <span style="border-bottom: 2px solid #ffd800"
                          >$35/point</span
                        >
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr class="no_line" style="margin: 0 auto 50px" />
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <hr style="margin: 0 auto 35px" />
                  </div>
                  <div class="col-md-9">
                    <div class="text-right mobile_align_center">
                      <p>
                        Labore et dolore magna aliqua it enim ad minim <br />
                        veniam, quis nostrud exercitation
                      </p>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div
                      class="text-left mobile_align_center"
                      style="padding: 6px 0%"
                    >
                      <a
                        class="button button_full_width button_size_2"
                        href="services-pricing.html"
                        style="
                          background-color: #ffd800 !important;
                          color: #10293d;
                          width: 100%;
                        "
                        ><span class="button_label">Our offer</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="section mcb-section full-width"
          style="
            padding-top: 55px;
            padding-bottom: 70px;
            background-image: url(images/reno4-home-graybg.png);
            background-repeat: repeat-y;
            background-position: center top;
          "
        >
          <div class="row">
            <div class="col-12">
              <div
                class="column_attr clearfix align_center"
                style="padding: 20px 0 30px 0"
              >
                <h2>Take a look at our realizations</h2>
              </div>
            </div>
            <div class="col-12">
              <div class="content_slider center">
                <ul class="content_slider_ul">
                  <li class="content_slider_li_1">
                    <a href="images/reno4-home-slide2.jpg" rel="prettyphoto"
                      ><img
                        width="1024"
                        height="700"
                        src="images/reno4-home-slide2.jpg"
                        class="wp-post-image"
                        alt=""
                        loading="lazy"
                    /></a>
                  </li>
                  <li class="content_slider_li_2">
                    <a href="images/reno4-home-slide3.jpg" rel="prettyphoto"
                      ><img
                        width="1024"
                        height="700"
                        src="images/reno4-home-slide3.jpg"
                        class="wp-post-image"
                        alt=""
                        loading="lazy"
                    /></a>
                  </li>
                  <li class="content_slider_li_3">
                    <a href="images/reno4-home-slide1.jpg" rel="prettyphoto"
                      ><img
                        width="1024"
                        height="700"
                        src="images/reno4-home-slide1.jpg"
                        class="wp-post-image"
                        alt=""
                        loading="lazy"
                    /></a>
                  </li>
                </ul>
                <div class="slider_pager slider_pagination"></div>
              </div>
            </div>
            <div class="col-12">
              <hr class="no_line" style="margin: 0 auto 40px auto" />
            </div>
            <div class="col-12">
              <div class="button_align align_center">
                <a class="button button_size_2" href="realizations.html"
                  ><span class="button_label">See our work</span></a
                >
              </div>
            </div>
            <div class="col-12">
              <div
                class="column_attr clearfix align_center"
                style="padding: 20px 0 0"
              >
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum <br />
                  dolore eu fugiat nulla pariatur excepteur sint.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="section mcb-section no-margin-h equal-height-wrap"
          style="padding-top: 75px"
        >
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="images/reno4-reno-guys.png"
                  alt="reno4-reno-guys"
                  title=""
                  width="1024"
                  height="1076"
                />
              </div>
              <div class="col-md-6" style="padding: 30px">
                <div class="row">
                  <div class="col-12">
                    <div class="column_attr clearfix mobile_align_center">
                      <h2>
                        Call us if you have
                        <br />
                        a question
                      </h2>
                    </div>
                  </div>
                  <div class="col-12">
                    <hr class="no_line" style="margin: 0 auto 20px" />
                  </div>
                  <div class="col-md-2">
                    <div
                      class="column_attr clearfix align_center mobile_align_center"
                    >
                      <h2><i class="icon-phone" style="color: #626262"></i></h2>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div
                      class="column_attr clearfix mobile_align_center"
                      style="padding: 5px 0% 20px"
                    >
                      <h4 style="margin: 0">+95 454 959</h4>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="column_attr clearfix align_center">
                      <h2>
                        <i
                          class="icon-paper-plane-line"
                          style="color: #626262"
                        ></i>
                      </h2>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="column_attr clearfix mobile_align_center">
                      <h4 style="margin: 0; display: inline">
                        <a href="#">noreply@envato.com</a>
                      </h4>
                    </div>
                  </div>
                  <div class="col-12">
                    <div
                      class="column_attr clearfix mobile_align_center"
                      style="padding: 38px 0px 0px 0px"
                    >
                      <p>
                        Duis aute n <b>9:00am – 6:00pm</b> reprehenderit <br />
                        in voluptae eu ceptsint.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer id="Footer" class="clearfix">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <hr class="no_line" style="margin: 0 auto 100px" />
            </div>
            <div class="col-md-4">
              <h4>Address</h4>
              <hr class="no_line" style="margin: 0 auto 10px auto" />
              <p>
                Studio 132 Everystreet <br />
                Manhatthan <br />
                NY 1234 USA
              </p>
              <hr class="no_line" style="margin: 0 auto 10px auto" />
              <p>Monday — Saturday: 8AM — 4PM</p>
            </div>
            <div class="col-md-4">
              <h4>Useful links</h4>
              <hr class="no_line" style="margin: 0 auto 10px auto" />
              <a href="#">Home</a> <br />
              <a href="#">About us</a> <br />
              <a href="#">Realizations</a> <br />
              <a href="#">Services & Pricing</a> <br />
              <a href="#">Contact</a>
            </div>
            <div class="col-md-4">
              <h4>Phone</h4>
              <hr class="no_line" style="margin: 0 auto 10px auto" />
              <h3><strong>+44-444 014 4501</strong></h3>
              <hr class="no_line" style="margin: 0 auto 10px auto" />
              <p>
                If you have a question, <br />
                please contact at
                <a href="#"><span>noreply@envato.com</span></a>
              </p>
            </div>
            <div class="col-12">
              <hr class="no_line" style="margin: 0 auto 60px" />
            </div>
          </div>
        </div>
        <div class="footer_copy">
          <div class="container">
            <div class="column one">
              <a id="back_to_top" class="footer_button" href="#"
                ><i class="icon-up-open-big"></i
              ></a>
              <div class="copyright">
                &copy; 2021 - BeTheme. Muffin group - HTML by
                <a
                  target="_blank"
                  rel="nofollow"
                  href="https://1.envato.market/9ZxXY"
                  >BeantownThemes</a
                >
              </div>
              <ul class="social">
                <li class="facebook">
                  <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
                </li>
                <li class="linkedin">
                  <a href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
                </li>
                <li class="pinterest">
                  <a href="#" title="Pinterest"
                    ><i class="icon-pinterest"></i
                  ></a>
                </li>
                <li class="instagram">
                  <a href="#" title="Instagram"
                    ><i class="icon-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div id="Side_slide" class="right light" data-width="250">
      <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
      </div>
      <div class="extras">
        <a
          href="tel:+989151011507"
          class="action_button"
          target="_blank"
          >Call</a
        >
        <div class="extras-wrapper"></div>
      </div>
      <div class="menu_wrapper"></div>
      <ul class="social">
        <li class="facebook">
          <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
        </li>
        <li class="linkedin">
          <a href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
        </li>
        <li class="pinterest">
          <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
        </li>
        <li class="instagram">
          <a href="#" title="Instagram"><i class="icon-instagram"></i></a>
        </li>
      </ul>
    </div>
    <div id="body_overlay"></div>
    <!-- JS -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/mfn.menu.js"></script>
    <script src="js/jquery.plugins.js"></script>
    <script src="js/animations/animations.js"></script>
    <script src="js/translate3d.js"></script>
    <script src="js/scripts.js"></script>
    <script src="plugins/rs-plugin-6.custom/js/revolution.tools.min.js"></script>
    <script src="plugins/rs-plugin-6.custom/js/rs6.min.js"></script>
    <script type="text/javascript">
      var revapi1, tpj;

      function revinit_revslider11() {
        jQuery(function () {
          tpj = jQuery;
          revapi1 = tpj('#rev_slider_1_1');
          if (revapi1 == undefined || revapi1.revolution == undefined) {
            revslider_showDoubleJqueryError('rev_slider_1_1');
          } else {
            revapi1.revolution({
              sliderLayout: 'fullwidth',
              visibilityLevels: '1240,1240,778,778',
              gridwidth: '1240,1240,778,778',
              gridheight: '900,900,700,700',
              spinner: 'spinner11',
              perspective: 600,
              perspectiveType: 'local',
              spinnerclr: '#ffd800',
              editorheight: '900,768,700,720',
              responsiveLevels: '1240,1240,778,778',
              progressBar: {
                disableProgressBar: true,
              },
              navigation: {
                onHoverStop: false,
              },
              fallbacks: {
                allowHTML5AutoPlayOnAndroid: true,
              },
            });
          }
        });
      } // End of RevInitScript
      var once_revslider11 = false;
      if (document.readyState === 'loading') {
        document.addEventListener('readystatechange', function () {
          if (
            (document.readyState === 'interactive' ||
              document.readyState === 'complete') &&
            !once_revslider11
          ) {
            once_revslider11 = true;
            revinit_revslider11();
          }
        });
      } else {
        once_revslider11 = true;
        revinit_revslider11();
      }
    </script>
  </body>
</html>
