:root {
  /* HCT 260 */

  /* primary */
  --ref-palette-primary0: 0, 0%, 0%;
  --ref-palette-primary10: 211.5, 100%, 11.6%;
  --ref-palette-primary20: 209.7, 100%, 18.6%;
  --ref-palette-primary25: 208.7, 100%, 22.5%;
  --ref-palette-primary30: 208.4, 100%, 26.5%;
  --ref-palette-primary35: 209.2, 88.9%, 31.8%;
  --ref-palette-primary40: 212, 66.8%, 39%;
  --ref-palette-primary50: 214.2, 50.8%, 50.6%;
  --ref-palette-primary60: 215.2, 65.3%, 61.6%;
  --ref-palette-primary70: 215.6, 91.4%, 72.5%;
  --ref-palette-primary80: 217.1, 100%, 82.5%;
  --ref-palette-primary90: 220, 100%, 91.8%;
  --ref-palette-primary95: 222, 100%, 96.1%;
  --ref-palette-primary98: 240, 100%, 98.8%;
  --ref-palette-primary99: 270, 100%, 99.2%;
  --ref-palette-primary100: 0, 0%, 100%;

  /* secondary */
  --ref-palette-secondary0: 0, 0%, 0%;
  --ref-palette-secondary10: 216, 41%, 12%;
  --ref-palette-secondary20: 216.9, 25%, 20.4%;
  --ref-palette-secondary25: 216.9, 20.6%, 24.7%;
  --ref-palette-secondary30: 217.8, 18.1%, 29.2%;
  --ref-palette-secondary35: 217.8, 15.6%, 33.9%;
  --ref-palette-secondary40: 218.6, 14.1%, 38.8%;
  --ref-palette-secondary50: 219.3, 11.7%, 48.4%;
  --ref-palette-secondary60: 220, 14.3%, 58.8%;
  --ref-palette-secondary70: 218.7, 19.7%, 69.2%;
  --ref-palette-secondary80: 220.6, 30.7%, 80.2%;
  --ref-palette-secondary90: 220.6, 68.9%, 91.2%;
  --ref-palette-secondary95: 222, 100%, 96.1%;
  --ref-palette-secondary98: 240, 100%, 98.8%;
  --ref-palette-secondary99: 270, 100%, 99.2%;
  --ref-palette-secondary100: 0, 0%, 100%;

  /* tertiary */
  --ref-palette-tertiary0: 0, 0%, 0%;
  --ref-palette-tertiary10: 282.9, 42.4%, 12.9%;
  --ref-palette-tertiary20: 282, 27.3%, 21.6%;
  --ref-palette-tertiary25: 284, 22.7%, 25.9%;
  --ref-palette-tertiary30: 284, 19.2%, 30.6%;
  --ref-palette-tertiary35: 284.5, 17.3%, 35.1%;
  --ref-palette-tertiary40: 285, 15.7%, 40%;
  --ref-palette-tertiary50: 285.9, 13.4%, 49.8%;
  --ref-palette-tertiary60: 287.6, 16.7%, 60%;
  --ref-palette-tertiary70: 286.7, 24%, 70.6%;
  --ref-palette-tertiary80: 287, 38.9%, 81.4%;
  --ref-palette-tertiary90: 287.7, 100%, 92.4%;
  --ref-palette-tertiary95: 297, 100%, 96.1%;
  --ref-palette-tertiary98: 330, 100%, 98.4%;
  --ref-palette-tertiary99: 300, 100%, 99.2%;
  --ref-palette-tertiary100: 0, 0%, 100%;

  /* neutral */
  --ref-palette-neutral0: 0, 0%, 0%;
  --ref-palette-neutral10: 210, 7.1%, 11%;
  --ref-palette-neutral20: 225, 4.1%, 19.2%;
  --ref-palette-neutral25: 225, 3.3%, 23.5%;
  --ref-palette-neutral30: 225, 2.8%, 28.2%;
  --ref-palette-neutral35: 228, 3%, 32.7%;
  --ref-palette-neutral40: 240, 2.1%, 37.6%;
  --ref-palette-neutral50: 225, 1.7%, 47.1%;
  --ref-palette-neutral60: 240, 1.8%, 57.3%;
  --ref-palette-neutral70: 240, 1.8%, 67.6%;
  --ref-palette-neutral80: 255, 3.6%, 78.4%;
  --ref-palette-neutral90: 255, 7.4%, 89.4%;
  --ref-palette-neutral95: 255, 15.4%, 94.9%;
  --ref-palette-neutral98: 255, 50%, 98.4%;
  --ref-palette-neutral99: 270, 100%, 99.2%;
  --ref-palette-neutral100: 0, 0%, 100%;

  /* neutral-variant */
  --ref-palette-neutral-variant0: 0, 0%, 0%;
  --ref-palette-neutral-variant10: 216, 17.2%, 11.4%;
  --ref-palette-neutral-variant20: 223.6, 10.9%, 19.8%;
  --ref-palette-neutral-variant25: 223.6, 8.9%, 24.1%;
  --ref-palette-neutral-variant30: 218.2, 7.6%, 28.4%;
  --ref-palette-neutral-variant35: 223.6, 6.5%, 33.1%;
  --ref-palette-neutral-variant40: 223.6, 5.7%, 37.8%;
  --ref-palette-neutral-variant50: 223.6, 4.5%, 47.6%;
  --ref-palette-neutral-variant60: 220, 5.6%, 57.6%;
  --ref-palette-neutral-variant70: 225, 7.4%, 68.2%;
  --ref-palette-neutral-variant80: 229.1, 10.3%, 79%;
  --ref-palette-neutral-variant90: 230, 24%, 90.2%;
  --ref-palette-neutral-variant95: 230, 54.5%, 95.7%;
  --ref-palette-neutral-variant98: 240, 100%, 98.8%;
  --ref-palette-neutral-variant99: 270, 100%, 99.2%;
  --ref-palette-neutral-variant100: 0, 0%, 100%;

  /* error */
  --ref-palette-error0: 0, 0%, 0%;
  --ref-palette-error10: 358.2, 100%, 12.7%;
  --ref-palette-error20: 357.1, 100%, 20.6%;
  --ref-palette-error25: 356.7, 100%, 24.7%;
  --ref-palette-error30: 355.9, 100%, 28.8%;
  --ref-palette-error35: 356.6, 92%, 34.3%;
  --ref-palette-error40: 0, 75.5%, 41.6%;
  --ref-palette-error50: 2.4, 72.5%, 52.9%;
  --ref-palette-error60: 3.6, 100%, 64.3%;
  --ref-palette-error70: 5.5, 100%, 74.5%;
  --ref-palette-error80: 6.4, 100%, 83.5%;
  --ref-palette-error90: 5.9, 100%, 92%;
  --ref-palette-error95: 8.6, 100%, 95.9%;
  --ref-palette-error98: 7.5, 100%, 98.4%;
  --ref-palette-error99: 300, 100%, 99.2%;
  --ref-palette-error100: 0, 0%, 100%;
}
