:root {
  /* HCT 40 (keep #f06627) */

  /* primary */
  --ref-palette-primary0: 0, 0%, 0%;
  --ref-palette-primary10: 15.3, 100%, 10.8%;
  --ref-palette-primary20: 18.7, 100%, 17.6%;
  --ref-palette-primary25: 19.4, 100%, 21.2%;
  --ref-palette-primary30: 20.3, 100%, 24.9%;
  --ref-palette-primary35: 20.8, 100%, 28.8%;
  --ref-palette-primary40: 21.3, 100%, 32.5%;
  --ref-palette-primary50: 20.4, 89.8%, 42.4%;
  --ref-palette-primary60: 18.8, 87%, 54.7%;
  --ref-palette-primary70: 17.4, 100%, 68.2%;
  --ref-palette-primary80: 16.5, 100%, 80%;
  --ref-palette-primary90: 15.9, 100%, 90.4%;
  --ref-palette-primary95: 15, 100%, 95.3%;
  --ref-palette-primary98: 13.3, 100%, 98.2%;
  --ref-palette-primary99: 300, 100%, 99.2%;
  --ref-palette-primary100: 0, 0%, 100%;

  /* secondary */
  --ref-palette-secondary0: 0, 0%, 0%;
  --ref-palette-secondary10: 17.4, 54.4%, 11.2%;
  --ref-palette-secondary20: 16.7, 36%, 19.6%;
  --ref-palette-secondary25: 17.4, 31.1%, 23.9%;
  --ref-palette-secondary30: 16.5, 27.4%, 28.6%;
  --ref-palette-secondary35: 15.7, 24.7%, 33.3%;
  --ref-palette-secondary40: 16.4, 22.7%, 38%;
  --ref-palette-secondary50: 15.3, 19.2%, 48%;
  --ref-palette-secondary60: 16.8, 23.4%, 58%;
  --ref-palette-secondary70: 16.7, 33.7%, 68.6%;
  --ref-palette-secondary80: 16.1, 53.8%, 79.6%;
  --ref-palette-secondary90: 15.9, 100%, 90.4%;
  --ref-palette-secondary95: 15, 100%, 95.3%;
  --ref-palette-secondary98: 13.3, 100%, 98.2%;
  --ref-palette-secondary99: 300, 100%, 99.2%;
  --ref-palette-secondary100: 0, 0%, 100%;

  /* tertiary */
  --ref-palette-tertiary0: 0, 0%, 0%;
  --ref-palette-tertiary10: 49.1, 100%, 6.5%;
  --ref-palette-tertiary20: 50.4, 80.6%, 12.2%;
  --ref-palette-tertiary25: 49.6, 61.9%, 16.5%;
  --ref-palette-tertiary30: 50.9, 50.5%, 20.6%;
  --ref-palette-tertiary35: 49.1, 42.6%, 25.3%;
  --ref-palette-tertiary40: 49.3, 36.8%, 29.8%;
  --ref-palette-tertiary50: 49, 30%, 39.2%;
  --ref-palette-tertiary60: 49.5, 25.3%, 48.8%;
  --ref-palette-tertiary70: 48.4, 32.1%, 59%;
  --ref-palette-tertiary80: 48.9, 44.9%, 69.4%;
  --ref-palette-tertiary90: 48.5, 72.3%, 80.2%;
  --ref-palette-tertiary95: 48.2, 100%, 86.1%;
  --ref-palette-tertiary98: 41.1, 100%, 96.3%;
  --ref-palette-tertiary99: 300, 100%, 99.2%;
  --ref-palette-tertiary100: 0, 0%, 100%;

  /* neutral */
  --ref-palette-neutral0: 0, 0%, 0%;
  --ref-palette-neutral10: 15, 14.3%, 11%;
  --ref-palette-neutral20: 18, 10.2%, 19.2%;
  --ref-palette-neutral25: 18, 8.3%, 23.5%;
  --ref-palette-neutral30: 16.4, 7.7%, 28%;
  --ref-palette-neutral35: 16.4, 6.6%, 32.7%;
  --ref-palette-neutral40: 10.9, 5.8%, 37.5%;
  --ref-palette-neutral50: 13.8, 5.4%, 47.3%;
  --ref-palette-neutral60: 12.9, 6.4%, 57.3%;
  --ref-palette-neutral70: 16, 9.1%, 67.6%;
  --ref-palette-neutral80: 15, 14.5%, 78.4%;
  --ref-palette-neutral90: 14.1, 32.1%, 89.6%;
  --ref-palette-neutral95: 14.1, 68%, 95.1%;
  --ref-palette-neutral98: 13.3, 100%, 98.2%;
  --ref-palette-neutral99: 300, 100%, 99.2%;
  --ref-palette-neutral100: 0, 0%, 100%;

  /* neutral-variant */
  --ref-palette-neutral-variant0: 0, 0%, 0%;
  --ref-palette-neutral-variant10: 17.6, 29.8%, 11.2%;
  --ref-palette-neutral-variant20: 15.8, 19.2%, 19.4%;
  --ref-palette-neutral-variant25: 15, 16.4%, 23.9%;
  --ref-palette-neutral-variant30: 14.3, 14.5%, 28.4%;
  --ref-palette-neutral-variant35: 16.4, 13.1%, 32.9%;
  --ref-palette-neutral-variant40: 16.4, 11.5%, 37.6%;
  --ref-palette-neutral-variant50: 15, 9.9%, 47.5%;
  --ref-palette-neutral-variant60: 16.2, 12%, 57.6%;
  --ref-palette-neutral-variant70: 15.6, 16.6%, 68%;
  --ref-palette-neutral-variant80: 14.5, 27.1%, 79%;
  --ref-palette-neutral-variant90: 15.5, 60.8%, 90%;
  --ref-palette-neutral-variant95: 15, 100%, 95.3%;
  --ref-palette-neutral-variant98: 13.3, 100%, 98.2%;
  --ref-palette-neutral-variant99: 300, 100%, 99.2%;
  --ref-palette-neutral-variant100: 0, 0%, 100%;

  /* error */
  --ref-palette-error0: 0, 0%, 0%;
  --ref-palette-error10: 358.2, 100%, 12.7%;
  --ref-palette-error20: 357.1, 100%, 20.6%;
  --ref-palette-error25: 356.7, 100%, 24.7%;
  --ref-palette-error30: 355.9, 100%, 28.8%;
  --ref-palette-error35: 356.6, 92%, 34.3%;
  --ref-palette-error40: 0, 75.5%, 41.6%;
  --ref-palette-error50: 2.4, 72.5%, 52.9%;
  --ref-palette-error60: 3.6, 100%, 64.3%;
  --ref-palette-error70: 5.5, 100%, 74.5%;
  --ref-palette-error80: 6.4, 100%, 83.5%;
  --ref-palette-error90: 5.9, 100%, 92%;
  --ref-palette-error95: 8.6, 100%, 95.9%;
  --ref-palette-error98: 7.5, 100%, 98.4%;
  --ref-palette-error99: 300, 100%, 99.2%;
  --ref-palette-error100: 0, 0%, 100%;
}
