<footer id="Footer" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr class="no_line" style="margin: 0 auto 100px" />
      </div>
      <div class="col-md-4">
        <h4>Address</h4>
        <hr class="no_line" style="margin: 0 auto 10px auto" />
        <p>
          Studio 132 Everystreet <br />
          Manhatthan <br />
          NY 1234 USA
        </p>
        <hr class="no_line" style="margin: 0 auto 10px auto" />
        <p>Monday — Saturday: 8AM — 4PM</p>
      </div>
      <div class="col-md-4">
        <h4>Useful links</h4>
        <hr class="no_line" style="margin: 0 auto 10px auto" />
        <a href="#">Home</a> <br />
        <a href="#">About us</a> <br />
        <a href="#">Realizations</a> <br />
        <a href="#">Services & Pricing</a> <br />
        <a href="#">Contact</a>
      </div>
      <div class="col-md-4">
        <h4>Phone</h4>
        <hr class="no_line" style="margin: 0 auto 10px auto" />
        <h3><strong>+44-444 014 4501</strong></h3>
        <hr class="no_line" style="margin: 0 auto 10px auto" />
        <p>
          If you have a question, <br />
          please contact at
          <a href="#"><span>noreply@envato.com</span></a>
        </p>
      </div>
      <div class="col-12">
        <hr class="no_line" style="margin: 0 auto 60px" />
      </div>
    </div>
  </div>
  <div class="footer_copy">
    <div class="container">
      <div class="column one">
        <a id="back_to_top" class="footer_button" href="#"
          ><i class="icon-up-open-big"></i
        ></a>
        <div class="copyright">
          &copy; 2021 - BeTheme. Muffin group - HTML by
          <a
            target="_blank"
            rel="nofollow"
            href="https://1.envato.market/9ZxXY"
            >BeantownThemes</a
          >
        </div>
        <ul class="social">
          <li class="facebook">
            <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
          </li>
          <li class="linkedin">
            <a href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
          </li>
          <li class="pinterest">
            <a href="#" title="Pinterest"
              ><i class="icon-pinterest"></i
            ></a>
          </li>
          <li class="instagram">
            <a href="#" title="Instagram"
              ><i class="icon-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
