<div id="Header_wrapper">
  <header id="Header">
    <div id="Top_bar">
      <div class="row">
        <div class="column one">
          <div class="top_bar_left clearfix">
            <div class="logo">
              <a id="logo" href="/" title="BeRenovate 4 - Betheme" data-height="60" data-padding="15"><img
                  class="logo-main scale-with-grid" src="images/keep.svg" data-height="58" alt="renovate4_logo"
                  data-no-retina /><img class="logo-sticky scale-with-grid" src="images/keep.svg" data-height="58"
                  alt="renovate4_logo" data-no-retina /><img class="logo-mobile scale-with-grid" src="images/keep.svg"
                  data-height="58" alt="renovate4_logo" data-no-retina /><img class="logo-mobile-sticky scale-with-grid"
                  src="images/keep.svg" data-height="58" alt="renovate4_logo" data-no-retina /></a>
            </div>
            <div class="menu_wrapper">
              <nav id="menu">
                <ul id="menu-main-menu" class="menu menu-main">
                  <li class="current-menu-item page_item current_page_item">
                    <a href="/"><span>Home</span></a>
                  </li>
                  <li>
                    <a href="about"><span>About us</span></a>
                  </li>
                  <li>
                    <a href="realizations"><span>Realizations</span></a>
                  </li>
                  <li>
                    <a href="services-pricing"><span>Services &amp; Pricing</span></a>
                  </li>
                  <li>
                    <a href="contact"><span>Contact</span></a>
                  </li>
                </ul>
              </nav>
              <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
            </div>
          </div>
          <div class="top_bar_right">
            <div class="top_bar_right_wrapper">
              <a href="tel:+989151011507" class="action_button" target="_blank">Call</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mfn-main-slider mfn-rev-slider">
      <!-- START Home Renovate4 REVOLUTION SLIDER 6.3.6 -->
      <p class="rs-p-wp-fix"></p>
      <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="
          background: transparent;
          padding: 0;
          margin: 0px auto;
          margin-top: 0;
          margin-bottom: 0;
        ">
        <rs-module id="rev_slider_1_1" data-version="6.3.6">
          <rs-slides>
            <rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
              <img src="images/reno4-slider-bg.png" class="rev-slidebg" />
              <!--
              -->
              <rs-layer id="slider-1-slide-1-layer-0" data-type="text" data-color="#10293d" data-rsp_ch="on"
                data-xy="x:l,l,c,c;xo:80px,80px,1px,1px;y:m;yo:-146px,-146px,-190px,-190px;"
                data-text="w:normal;s:70,70,84,84;l:80,80,77,77;fw:700;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;"
                style="z-index: 9; font-family: Comfortaa">
                From A to Z <br />
                renovation
              </rs-layer>
              <!--

              --><a id="slider-1-slide-1-layer-1" class="rs-layer" href="#" target="_self" rel="nofollow"
                data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on"
                data-xy="x:l,l,c,c;xo:259px,259px,-70px,-70px;y:m,m,b,b;yo:245px,245px,50px,50px;"
                data-text="w:normal;s:17,17,16,16;l:50,50,48,48;a:center;" data-dim="w:50px,50px,48px,48px;"
                data-border="bor:25px,25px,25px,25px;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="
                  z-index: 14;
                  background-color: #f2f2f2;
                  font-family: Open Sans;
                  cursor: pointer;
                "><i class="icon-facebook"></i>
              </a>
              <!--

              --><a id="slider-1-slide-1-layer-2" class="rs-layer rev-btn" href="contact" target="_self"
                rel="nofollow" data-type="button" data-color="#10293d" data-rsp_ch="on"
                data-xy="x:l,l,c,c;xo:78px,78px,0,78px;yo:539px,539px,309px,309px;"
                data-text="w:normal;s:16,16,18,18;l:40,40,52,52;fw:700;" data-dim="minh:0px,0px,none,0px;"
                data-padding="t:4;r:40,40,52,52;b:4;l:40,40,52,52;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;"
                data-frame_hover="c:#fff;bgc:#10293d;bor:0px,0px,0px,0px;bri:120%;" style="
                  z-index: 15;
                  background-color: #ffd800;
                  font-family: Open Sans;
                ">Hire us today
              </a>
              <!--

              -->
              <rs-layer id="slider-1-slide-1-layer-3" data-type="shape" data-rsp_ch="on"
                data-xy="xo:80px,80px,67px,67px;yo:640px,640px,470px,470px;"
                data-text="w:normal;s:20,20,12,12;l:0,0,15,15;" data-dim="w:400px,400px,250px,250px;h:2px,2px,1px,1px;"
                data-vbility="t,t,f,f" data-frame_999="o:0;st:w;"
                style="z-index: 16; background-color: #dadada"></rs-layer>
              <!--

              -->
              <rs-layer id="slider-1-slide-1-layer-5" data-type="text" data-color="#10293d" data-rsp_ch="on"
                data-xy="xo:80px,80px,58px,58px;y:m;yo:-2px,-2px,-26px,-26px;"
                data-text="w:normal;s:16,16,9,9;l:26,26,15,15;" data-dim="w:478px,478px,299px,299px;"
                data-vbility="t,t,f,f" data-frame_999="o:0;st:w;" style="z-index: 10; font-family: Open Sans">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua maecenas accumsan lacus vel facilisis.
              </rs-layer>
              <!--

              -->
              <rs-layer id="slider-1-slide-1-layer-7" data-type="text" data-color="rgba(16, 41, 61, 0.79)"
                data-rsp_ch="on" data-xy="xo:80px,80px,60px,60px;y:m;yo:245px,245px,45px,45px;"
                data-text="w:normal;s:15,15,13,13;l:23,23,18,18;" data-dim="w:150px,150px,132px,132px;"
                data-vbility="t,t,f,f" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;"
                style="z-index: 11; font-family: Open Sans">
                Find more about us <br />
                on our funpages
              </rs-layer>
              <!--

              --><a id="slider-1-slide-1-layer-8" class="rs-layer" href="#" target="_self" rel="nofollow"
                data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on"
                data-xy="x:l,l,c,c;xo:379px,379px,71px,71px;y:m,m,b,b;yo:245px,245px,50px,50px;"
                data-text="w:normal;s:17,17,16,16;l:50;a:center;" data-dim="w:50px;"
                data-border="bor:25px,25px,25px,25px;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="
                  z-index: 13;
                  background-color: #f2f2f2;
                  font-family: Open Sans;
                  cursor: pointer;
                "><i class="icon-pinterest"></i>
              </a>
              <!--

              --><a id="slider-1-slide-1-layer-9" class="rs-layer" href="#" target="_self" rel="nofollow"
                data-type="text" data-color="rgba(16, 41, 61, 0.79)" data-rsp_ch="on"
                data-xy="x:l,l,c,c;xo:319px,319px,0,319px;y:m,m,b,b;yo:245px,245px,50px,50px;"
                data-text="w:normal;s:17,17,16,16;l:50,50,49,49;a:center;" data-dim="w:50px,50px,49px,49px;"
                data-border="bor:25px,25px,25px,25px;" data-frame_0="x:0,0,0px,0px;y:0,0,0px,0px;"
                data-frame_1="x:0,0,0px,0px;y:0,0,0px,0px;" data-frame_999="o:0;st:w;" style="
                  z-index: 12;
                  background-color: #f2f2f2;
                  font-family: Open Sans;
                  cursor: pointer;
                "><i class="icon-instagram"></i>
              </a>
              <!--

              -->
              <rs-layer id="slider-1-slide-1-layer-10" data-type="shape" data-rsp_ch="on"
                data-xy="xo:50px,50px,0,50px;yo:224px,224px,0,224px;" data-text="w:normal;s:20,20,12,12;l:0,0,15,15;"
                data-dim="w:300px,300px,100%,100%;h:180px,180px,100%,100%;" data-vbility="f,f,t,t"
                data-frame_999="o:0;st:w;" style="
                  z-index: 8;
                  background-color: rgba(255, 255, 255, 0.25);
                "></rs-layer>
              <!--
              -->
            </rs-slide>
          </rs-slides>
        </rs-module>
      </rs-module-wrap>
      <!-- END REVOLUTION SLIDER -->
    </div>
  </header>
</div>
