    <div id="Side_slide" class="right light" data-width="250">
      <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
      </div>
      <div class="extras">
        <a
          href="tel:+989151011507"
          class="action_button"
          target="_blank"
          >Call</a
        >
        <div class="extras-wrapper"></div>
      </div>
      <div class="menu_wrapper"></div>
      <ul class="social">
        <li class="facebook">
          <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
        </li>
        <li class="linkedin">
          <a href="#" title="LinkedIn"><i class="icon-linkedin"></i></a>
        </li>
        <li class="pinterest">
          <a href="#" title="Pinterest"><i class="icon-pinterest"></i></a>
        </li>
        <li class="instagram">
          <a href="#" title="Instagram"><i class="icon-instagram"></i></a>
        </li>
      </ul>
    </div>
