# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  workflow_dispatch:

  pull_request:
    paths:
      - "**.ts"

  push:
    paths:
      - "**.ts"
    branches:
      - next
      - main
      - release/*

env:
  NODE_VERSION: latest

jobs:
  build-ts:
    name: Build Typescript
    runs-on: ubuntu-latest

    permissions:
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build Typescript
        run: yarn build:ts
